{% extends 'VictoirePageBundle:Page:new.html.twig' %}

{% block modal_body_content %}
    <form method="POST" action="{{path('victoire_template_new')}}">
        {{form_row(form.name)}}
        {{form_row(form.template)}}
        {{form_row(form.layout)}}
        {{form_rest(form)}}
    </form>
{% endblock modal_body_content %}

{% block modal_header_title %}
    {{'new.template.modal.header'|trans({}, 'victoire')}}
{% endblock modal_header_title %}
