{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% form_theme form 'VictoireFormBundle:Form:fields.html.twig' %}

{% block modal_container_classes %}{{ parent() }} v-modal--view{% endblock modal_container_classes %}

{% block modal_header_title %}
    {{ 'modal.form.template.settings.title'|trans({'%templateName%' : template.name}, 'victoire')|raw }}
{% endblock modal_header_title %}

{% block modal_body_content %}
    <form method="POST" action="{{path('victoire_template_settings', {'id':template.id} )}}">
        <div class="v-grid">
            <div class="v-col v-col--xs-12 v-col--md-6">
                {{ form_widget(form.translations) }}
            </div>

            <div class="v-col v-col--xs-12 v-col--md-6">
                <div id="v-template-settings--sidebar">
                    {{ form_row(form.template) }}
                    {{ form_row(form.layout) }}
                </div>
            </div>
        </div>

        {{ form_rest(form) }}
        {{ form_errors(form) }}
    </form>
{% endblock modal_body_content %}

{% block modal_footer%}
    <div class="v-modal__footer">
        <nav class="v-navbar">
            <div class="v-container">
                <div class="v-flex-grid v-flex-grid--justify-between">
                    <div class="v-flex-col"></div>

                    <div class="v-flex-col">
                        {% block modal_footer_content %}
                            <a href="#" class="v-btn v-btn--success" data-modal="{% block action %}update{% endblock action %}" title="{{ ('modal.button.'~ block('action') ~'.title')|trans({}, 'victoire') }}">
                                {{ ('modal.button.'~ block('action') ~'.title')|trans({}, 'victoire') }}
                            </a>
                        {% endblock modal_footer_content %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
{% endblock modal_footer %}
