{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% form_theme form 'VictoireFormBundle:Form:fields.html.twig' %}

{% block modal_container_classes %}{{ parent() }} vic-view-modal{% endblock modal_container_classes %}

{% block modal_header_title %}
    {{ 'modal.form.template.settings.title'|trans({'template.name' : template.name}, 'victoire')|desc('%template.name% > Settings') }}
{% endblock modal_header_title %}

{% block modal_body_content %}
    <form method="POST" action="{{path('victoire_template_settings', {'slug':template.slug} )}}">
        {{form_row(form.name)}}
        {{form_row(form.template)}}
        {{form_row(form.layout)}}
        {{form_errors(form)}}
        {{form_rest(form)}}
    </form>
{% endblock modal_body_content %}

{% block modal_footer_content %}
    <div class="vic-modal-footer-content">
        <a href="#" class="vic-btn vic-btn-success" data-modal="{% block action %}update{% endblock action %}" title="{{ ('modal.button.'~ block('action') ~'.title')|trans({}, 'victoire') }}"><i class="fa fa-check-circle"></i> {{ ('modal.button.'~ block('action') ~'.title')|trans({}, 'victoire') }}</a>
    </div>
{% endblock modal_footer_content %}
