{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_container_classes %}{{ parent() }} vic-page-modal{% endblock modal_container_classes %}

{% block modal_header_title %}
    {{ 'modal.form.template.settings.title'|trans({'template.name' : template.name}, 'victoire')|desc('%template.name% > Settings') }}
{% endblock modal_header_title %}

{% block modal_body_content %}
    <form method="POST" action="{{path('victoire_template_settings', {'slug':template.slug} )}}">
        {{form_widget(form)}}
        {{form_errors(form)}}
        {{form_rest(form)}}
    </form>
{% endblock modal_body_content %}

{% block modal_footer_content %}
    <span class="vic-pull-left"><sup>*</sup>{{ 'modal.mandatory_fields.label'|trans({}, 'victoire')|desc('Mandatory fields') }}</span>
    <a href="#" data-modal="{% block action %}update{% endblock action %}" title="{{ ('modal.button.'~ block('action') ~'.title')|trans({}, 'victoire') }}"></a>
{% endblock modal_footer_content %}
