{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_container_classes %}{{ parent() }} vic-view-modal{% endblock modal_container_classes %}

{% block modal_header_title %}
    {#{{"victoire_redirections.index.title"|trans() }}#}Liste des erreurs <strong>404</strong>
{% endblock modal_header_title %}

{% block modal_body_content %}

    {# TODO move style from template #}
    <style>

        .d-none { display: none; }

        /*.mt-0 { margin-top: 0; }*/
        .mt-2 { margin-top: 20px; }
        .mb-2 { margin-bottom: 20px; }

        .pt-1 { padding-top: 10px; }
        .pb-1 { padding-bottom: 10px; }

        .text-white { color: white; }

    </style>

    <div id="victoire-blog-modal">
        {% if errors|default(false) %}
            <ul class="vic-bordered-list">
                {% for error in errors %}
                    {% set id = error.id %}
                    {{ form_start(form[id]) }}
                    <li class="list-group-item">
                        <div class="row" id="main">
                            <div class="col-md-1 text-center">
                                <a href="#"
                                   id="delete-link-{{ id }}"
                                   ic-delete-from="{{ path('victoire_404_delete', { 'id': id }) }}"
                                   ic-target="#vic-modal-container"
                                   class="btn-lg btn-secondary btn-transparent text-danger"
                                   ic-trigger-on="confirmed-by-user"
                                   data-toggle="vic-confirm"
                                   data-title="{{ 'modal.form.page.settings.action.delete.confirm.title'|trans({}, 'victoire') }}"
                                   data-body="{{ 'modal.form.page.settings.action.delete.confirm.body'|trans({}, 'victoire') }}"
                                   data-confirm-callback="$('#delete-link-{{ id }}').trigger('confirmed-by-user')"
                                >
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <div class="col-md-7">
                                <a href="{{ error.input }}">
                                    {{ error.input }}
                                </a>
                            </div>
                            <div class="col-md-3">
                                Nb de requêtes : <strong style="padding-left: 10px">{{ error.count }}</strong>
                            </div>
                            <div class="col-md-1 text-center">
                                <a href="#" class="btn-lg btn-secondary">
                                    <i class="fa fa-plus" id="{{ id }}"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row d-none pt-1 pb-1" id="notFound_{{ id }}">
                            <div class="col-md-6 col-md-offset-1">
                                {{ form_widget(form[id].output) }}
                                <div class="d-none">
                                    {{ form_widget(form[id].input, {'attr': {'value': error.input}}) }}
                                </div>
                            </div>
                            <div class="col-md-2 col-md-offset-3">
                                {# TODO add trad #}
                                <input type="submit" value="Mettre à jour" class="vic-btn vic-btn-default vic-bg-green text-white mt-2">
                            </div>
                        </div>
                    </li>
                    {{ form_rest(form[id]) }}
                    {{ form_end(form[id]) }}
                {% endfor %}
            </ul>
            <div class="pull-right">
            </div>
            {#{{ form_end(form) }}#}
        {% else %}
            <div class="vic-alert vic-alert-info text-center">
                &nbsp;&nbsp;La liste des erreurs 404 est vide
            </div>
        {% endif %}
    </div>
{% endblock modal_body_content %}
{##}
{% block modal_footer %}
    <script>
        $vic('i.fa-plus').on('click', function () {

            var id = $(this).attr('id');
            var notFound = $vic('#notFound_' + id);

            (notFound.is( ":hidden" ))
                ? notFound.slideDown()
                : notFound.slideUp();

            $(this).toggleClass('fa-plus fa-minus');
        });
    </script>
{% endblock modal_footer %}

{% block javascripts %}
{% endblock javascripts %}