{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_container_id %}{{ id }}{% endblock %}
{% block modal_container_classes %}{{ parent() }} v-modal--danger{% endblock %}
{% block modal_header_title %}{{ app.request.get('title') }}{% endblock %}

{% set cancel_button_class = app.request.get('cancel_button_class', 'v-btn--framed v-btn--transparent') %}
{% set confirm_button_class = app.request.get('confirm_button_class', 'v-btn--danger') %}

{% block modal_body_content %}
    {% spaceless %}
        <p class="v-text--center vic-mb-3">
            {{ app.request.get('body')|raw }}
        </p>

        <div class="v-flex-grid v-flex-grid--align-center v-flex-grid--justify-center">
            <div class="v-flex-col">
                <button id="cancel-button" class="v-btn {{ cancel_button_class }}" data-modal="close" aria-hidden="true">
                    {{ 'modal.button.delete.confirm.cancel.label'|trans }}
                </button>
            </div>

            <div class="v-flex-col">
                <button id="delete-button" class="v-btn {{ confirm_button_class }}" aria-hidden="true">
                    {{ 'modal.button.delete.confirm.ok.label'|trans }}
                </button>
            </div>
        </div>
    {% endspaceless %}
{% endblock modal_body_content %}

{% block modal_footer %}{% endblock modal_footer %}

{% block modal_container %}
    {{ parent() }}

    <script>
        $vic('#{{ id }}').vicmodal({ show : true, keyboard: true, backdrop: false });
        $vic('#{{ id }}').attr('data-modal', 'show');
        $vic('#{{ id }} .{{ confirm_button_class }}').focus();
        $vic('#{{ id }}').on('hide',function(){
            $vic('.vic-confirm-waiting').removeClass('vic-confirm-waiting');
            $vic('#{{ id }}').remove();
        });

        $vic('#{{ id }} .{{ cancel_button_class }}').click(function(){
            $vic('.vic-confirm-waiting').removeClass('vic-confirm-waiting');
        });

        $vic('#{{ id }} .{{ confirm_button_class }}').click(function(event){
            {% if app.request.get('confirm_callback') != null %}
                {{ app.request.get('confirm_callback')|raw }}
            {% else %}
                {# if no callback were given, we submit or go to the url of given as parameter #}
                var elem = $vic('.vic-confirm-waiting');
                elem.removeAttr('data-toggle');
                elem.data('toggle', null);
                elem.removeClass('vic-confirm-waiting');
                elem.addClass('vic-confirmed');
                $vic('#{{ id }}').vicmodal('hide');
                {% if app.request.get('type') == "form" %}
                    elem.submit();
                {% else %}
                    elem.click();
                {% endif %}
            {% endif %}
            $vic('#{{ id }}').vicmodal('hide');
        });

        //Focus on confirm button
        $vic('#{{ id }}').focus(function(){
            $vic('#{{ id }} .{{ confirm_button_class }}').focus();
        });
    </script>
{% endblock modal_container %}