{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_container_id %}{{ id }}{% endblock modal_container_id %}
{% block modal_container_classes %}{{ parent() }} vic-danger-modal{% endblock %}
{% block modal_header_title %}{{title}}{% endblock modal_header_title %}

{% block modal_body_content %}
{% spaceless %}
    <div class="vic-row">
        <div class="vic-col-md-12 vic-text-center">
            {{ body|raw }}
        </div>
    </div>
    <hr/>
    <div class="vic-row">
        <div class="vic-col-md-8 vic-col-md-offset-2 vic-text-center">
            <button class="vic-btn {{ cancel_button_class }}" data-modal="close" aria-hidden="true"><i class="fa fa-times-circle"></i> <span>{{ 'modal.button.delete.confirm.cancel.label'|trans }}</span></button>&nbsp;
            <button class="vic-btn {{ confirm_button_class }}" aria-hidden="true"><i class="fa fa-trash-o"></i> <span>{{ 'modal.button.delete.confirm.ok.label'|trans }}</span></button>
        </div>
    </div>
{% endspaceless %}
{% endblock modal_body_content %}

{% block modal_footer %}{% endblock modal_footer %}

{% block modal_container %}
{{ parent() }}

<script>
$vic('#{{ id }}').vicmodal({ show : true, keyboard: true, backdrop: false });
$vic('#{{ id }}').attr('data-modal', 'show');
$vic('#{{ id }} .{{ confirm_button_class }}').focus();
$vic('#{{ id }}').on('hide',function(){
    $vic('.vic-confirm-waiting').removeClass('vic-confirm-waiting');
    $vic('#{{ id }}').remove();
});

$vic('#{{ id }} .{{ cancel_button_class }}').click(function(){
    $vic('.vic-confirm-waiting').removeClass('vic-confirm-waiting');
});

{# if no callback were given, we submit or go to the url of given as parameter #}
$vic('#{{ id }} .{{ confirm_button_class }}').click(function(){
    elem = $vic('.vic-confirm-waiting');
    elem.removeAttr('data-toggle');
    elem.data('toggle', null);
    elem.removeClass('vic-confirm-waiting');
    elem.addClass('vic-confirmed');
    $vic('#{{ id }}').vicmodal('hide');
    {% if type == "form" %}
        elem.submit();
    {% else %}
        elem.click();
    {% endif %}
    {% if confirmCallback == null %}
        {{ confirmCallback|raw }};
    {% endif %}
});

//Focus on confirm button
$vic('#{{ id }}').focus(function(){
    $vic('#{{ id }} .{{ confirm_button_class }}').focus();
});
</script>
{% endblock modal_container %}
