{% trans_default_domain "victoire" %}
<div class="vic-accordion-group">
    <div class="vic-accordion-inner">
        {% if blog.articles|length %}
            <ul class="vic-list-unstyled">
                {% for article in blog.articles if not article.deletedAt %}
                    <li>
                        <div class="vic-row">
                            <div class="vic-col-md-12">
                                <a href="{{ path('victoire_core_page_show_by_id', {'viewId': article.pattern.id, 'entityId': article.id }) }}">
                                    {{ article.name }}
                                </a>&nbsp;
                                <a data-toggle="vic-modal" href="{{ path('victoire_blog_article_settings', {'id' : article.id}) }}">
                                    <i class="fa fa-cog"></i>
                                </a>&nbsp;
                            </div>
                        </div>
                    </li>
                {% endfor %}
                    <li>
                        <a class="vic-btn vic-btn-success" data-toggle="vic-modal" href="{{ path('victoire_blog_article_newBlogArticle', {'id' : blog.id}) }}">
                            {{'modal.blog.list.articlesList.new_article'|trans({}, 'victoire')}}
                        </a>
                    </li>
            </ul>
        {% else %}
        <div class="vic-alert vic-alert-info">
            {{ 'modal.blog.list.articlesList.empty.notice'|trans({'%creationLink%' : path('victoire_blog_article_newBlogArticle', {'id' : blog.id})}, 'victoire')|raw }}
        </div>
        {% endif %}
    </div>
</div>
