{% trans_default_domain "victoire" %}

<div class="vic-tab-content vic-modal-tab-content">
    <div class="vic-tab-pane vic-active" id="links">
        <ul>
            <li>
                <a href="{{ path('victoire_core_page_show', {'url': blog.url}) }}">URL</a>
            </li>
            <li>
                <a href="{{ path('victoire_blog_rss', {'id': blog.id}) }}">RSS</a>
                {{ _self.blog_rss_category(blog, blog.categories) }}
                </ul>
            </li>
        </ul>
    </div>
</div>

{% macro blog_rss_category(blog, categories) %}
    {% if categories|length %}
        <ul>
            {% for category in categories %}
                <li>
                    {% set categoryRssLink = path('victoire_blog_rss', {'id': blog.id, 'category': category.id}) %}
                    <a href="{{ categoryRssLink }}">{{ category.title }}</a>
                    {{ _self.blog_rss_category(blog, category.children) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}