{% trans_default_domain "victoire" %}
{% form_theme form 'VictoireFormBundle:Form:fields.html.twig' %}

<div class="vic-tab-content vic-modal-tab-content">
    {# Only display this business entity property list when related to a business entity #}
    {% if blog.businessEntity is defined %}
        {% include 'VictoireBusinessEntityBundle:BusinessProperty:list.html.twig' with { 'businessProperties': businessProperties } %}
    {% endif %}

    <div class="vic-tab-pane vic-active" id="basics">
        <form method="POST" id="victoire_blog_settings_form" action="{{path('victoire_blog_settings', {'id':blog.id} )}}">
            <div class="vic-row">
                <div class="vic-col-md-offset-8 vic-col-md-4">
                    {{ form_row(form.status) }}
                </div>
            </div>

            <div class="vic-row">
                <div class="vic-col-md-6">
                    {{ form_row(form.name) }}
                </div>

                <div class="vic-col-md-6">
                    {{ form_row(form.template) }}
                </div>

                <div class="vic-col-md-6">
                    <div class="vic-form-group">
                        <label for="victoire_blog_settings_type_bodyClass">
                            {{ 'form.blog.type.slug.label'|trans({}, 'victoire') }}
                        </label>

                        <div class="vic-form-url">
                            <div class="vic-url">
                                {{ url('victoire_core_page_show', {'url' : blog.url })|replace({(blog.slug): ''}) }}
                            </div>

                            {{ form_widget(form.slug) }}
                        </div>
                    </div>
                </div>

                <div class="vic-col-md-6">
                    {% if form.locale is defined %}
                        {{ form_row(form.locale) }}
                    {% endif %}
                </div>

                <div class="vic-col-md-6">
                    {{ form_row(form.parent) }}
                </div>

                <div class="vic-col-md-6">
                    <div class="vic-form-group">
                        <div class="publication-date-container{{ form.vars.value.status != constant('Victoire\\Bundle\\PageBundle\\Entity\\PageStatus::SCHEDULED') ? ' vic-hidden' }}">
                            {{ form_widget(form.publishedAt) }}
                        </div>
                    </div>
                </div>

                <div class="vic-col-md-6">
                    {{ form_errors(form) }}

                    {# Add this line to set the widget as rendered to not display it twice in form_rest #}
                    {{ form_rest(form) }}
                </div>
            </div>

            <button type="submit" href="#" class="vic-btn vic-btn-success vic-pull-right" title="{{ ('modal.button.settings.title')|trans({}, 'victoire') }}"><i class="fa fa-check-circle"></i> {{ ('modal.button.settings.title')|trans({}, 'victoire') }}</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    $vic('#victoire_blog_settings_type_status').on('change', function(){
        if ($vic(this).val() == '{{ constant('Victoire\\Bundle\\PageBundle\\Entity\\PageStatus::SCHEDULED') }}') {
            $vic('.publication-date-container').removeClass('vic-hidden');
        } else {
            $vic('.publication-date-container').addClass('vic-hidden');
        }
    });
</script>
