{% trans_default_domain "victoire" %}

{% if businessProperties|length > 0 %}
    {% if description is defined and description %}
        <div class="v-form-group__help">
            {% include 'VictoireUIBundle:SVG:information.html.twig' with { 'width': 16, 'height': 16 } %}
            {{ description }}
        </div>
    {% endif %}

    <div class="v-form-group__help">
        <div class="v-flex-grid v-flex-grid--gutter-sm">
            {% for businessProperty in businessProperties %}
                <div class="v-flex-col">
                    {% if businessProperty.type == 'businessParameter' %}
                        {% set btnTheme = 'info' %}
                    {% elseif businessProperty.type == 'seoable' %}
                        {% set btnTheme = 'default' %}
                    {% endif %}

                    <a class="v-btn v-btn--xs v-btn--{{ btnTheme|default('default') }}"
                            onClick="addPropertyToCurrentInput(this, '{{ businessProperty.entityProperty }}')"
                            title="{{ businessProperty.type }}"
                    >
                        {{ businessProperty.entityProperty }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
