{% trans_default_domain "victoire" %}

<div class='businessProperties'>
    <div class='businessPropertyTitle'>
        {{ 'modal.form.businessEntity.settings.businessProperties'|trans }}
    </div>
    {% for businessProperty in businessProperties %}
        <div class='businessProperty {{ businessProperty.type }}'>
            <a onClick='businessProperty.addPropertyToCurrentInput("{{ businessProperty.entityProperty }}")' title="{{ businessProperty.type }}">{{ businessProperty.entityProperty }}</a>
        </div>
    {% endfor %}
</div>

<script type="text/javascript">
    //init the event handler for the business entity property
    businessProperty.initPropertyHelper();
</script>