{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_container_classes %}{{ parent() }} vic-widget-modal vic-widget-modal-{{ widget.type|lower }}{% endblock %}
{% block modal_header_title %}
    {% if widget.id %}Widget #{{ widget.id}} - {% endif %}{{ ('modal.form.widget.type.'~widget.type|lower ~'.label')|trans({}, 'victoire')|raw }}
{% endblock modal_header_title %}

{% block modal_footer %}
    <div class="vic-modal-footer">
        <div class="vic-container">
            <div class="vic-modal-footer-content">
                {% block modal_footer_content %}
                    {% if widget.id %}
                        <a href={{ path('victoire_core_widget_delete', {'id':widget.id, 'viewReference': view.reference.id })}} class="vic-btn vic-btn-danger vic-pull-left" data-toggle="vic-confirm" data-modal="delete" data-title="{{ 'modal.button.delete.confirm.title'|trans({}, 'victoire') }}" data-body="{{ 'modal.button.delete.confirm.body'|trans({}, 'victoire') }}" title="{{ 'modal.button.delete.title'|trans({}, 'victoire') }}"><i class="fa fa-trash-o"></i> <span>{{ 'modal.button.delete.title'|trans({}, 'victoire') }}</span></a>
                    {% endif %}

                    <a href="#" class="vic-btn vic-btn-default vic-pull-left" data-modal="close"><i class="fa fa-times-circle"></i> {{ 'modal.button.cancel.title'|trans({}, 'victoire') }}</a>

                    <a href="#" class="vic-btn vic-btn-success" data-modal="{% block action %}update{% endblock action %}" title="{{ ('modal.button.'~ block('action') ~'.title')|trans({}, 'victoire') }}"><i class="fa fa-check-circle"></i> {{ ('modal.button.'~ block('action') ~'.title')|trans({}, 'victoire') }}</a>
                {% endblock modal_footer_content %}
            </div>
        </div>
    </div>
{% endblock modal_footer %}
