{% extends 'VictoireCoreBundle:Widget:Form/_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_body_content %}
    {% if widget.id and widget.currentView != view %}
    <div class="vic-alert vic-alert-warning vic-alert-dismissible">
        {{ 'victoire.widget.inherited.notice'|trans({'%templateName%': widget.currentView.name, '%templateEditLink%': path('victoire_core_widget_edit', {'id': widget.id, 'viewReference': widget.currentView.reference.id })}, 'victoire')|raw }}
    </div>
    {% endif %}

    {% if classes|length %}
        <ul class="vic-nav vic-nav-tabs vic-modal-nav-tabs">
            <li class="{% if constant('MODE_STATIC', widget) == widget.mode %}vic-active {% endif %}vic-seperate"><a href="#picker-static" data-toggle="vic-tab">{{ ('form.widget.tab.manual.label')|trans({}, 'victoire') }}</a></li>
            {% for businessEntity in classes %}
                {% set class = businessEntity.id %}
                {% if businessEntity.disable %}
                    <li class="vic-disable"><span title="{{ ('form.widget.tab.entity.disable.label')|trans({}, 'victoire') }}">{{ ('form.widget.tab.' ~ class|lower ~ '.label')|trans({}, 'victoire') }}</span></li>
                {% else %}

                    <li class="{% if not loop.last %}vic-seperate{% endif %}{% if widget.businessEntityId == class|lower %} vic-active{% endif %}">
                        {% set keyToEntity = widget.id ? 'victoire_core_widget_entity_edit' : 'victoire_core_widget_entity_create' %}
                        {% set urlToload = path( keyToEntity, {'viewReference':view.reference.id, 'slot': slot, 'position': position, 'parentWidgetMap': parentWidgetMap, 'businessEntityId': class, 'type' : type, 'widget_id': widget.id }) %}
                        <a href="#picker-{{ class|lower }}" {% if not widget.businessEntityId or widget.businessEntityId != class|lower %} class="load-business-form" data-business-entity-form-url="{{ urlToload }}" {% endif %} data-toggle="vic-tab">
                            {{ ('form.widget.tab.' ~ class|lower ~ '.label')|trans({}, 'victoire') }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    <div class="vic-tab-content vic-modal-tab-content">

        {% if is_granted('ROLE_VICTOIRE_DEVELOPER') %}
            <div class="vic-tab-pane{% if widget.mode == constant('MODE_STATIC', widget) %} vic-active{% endif %}" id="picker-{{ constant('MODE_STATIC', widget)|lower }}">
                {{ staticForm|raw }}
            </div>
        {% endif %}
        {% for businessEntity in classes %}
            {% set class = businessEntity.id %}
            {% set isActive = class == widget.mode or widget.businessEntityId == class|lower and widget.mode == constant('MODE_BUSINESS_ENTITY', widget) %}
            <div class="vic-tab-pane{% if widget.businessEntityId and widget.businessEntityId == class %} vic-active{% endif %}" id="picker-{{ class|lower }}">
                {% if widget.businessEntityId and widget.businessEntityId == class and entityForms %}
                    {% include 'VictoireCoreBundle:Widget:Form/_entity.html.twig' %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock modal_body_content %}

{% block action %}create{% endblock action %}
