{% extends 'VictoireCoreBundle:Widget:Form/_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% block action %}create{% endblock action %}
{% block modal_body_content %}

    <div class="vic-tab-content vic-modal-tab-content vic-modal-tab-content-container">
    {% for key, widget in widgets %}
        {% include "VictoireCoreBundle:Widget:Form/new_partial.html.twig" with {forms: forms[key], widget: widget, classes: classes, id: widgets[key].id ? widgets[key].id : id}%}
    {% endfor %}
    </div>
    <ul class="vic-nav vic-nav-tabs vic-modal-nav-tabs">
        {% for key, form in forms %}
            {% include "VictoireCoreBundle:Widget:Form/tab.html.twig" with {isLast: loop.last, widget: widgets[key], active: form.active is defined ? form.active : false, id: widgets[key].id ? widgets[key].id : id} %}
        {% endfor %}

        <li class="vic-seperate widget-new-tab">
            <a id="widget-new-tab" class="quantum-tab-name"
               data-type="{{ widget.type }}"
               data-slot="{{ slot }}"
               data-position="{{ position }}"
               data-parentWidgetMap="{{ parentWidgetMap }}"
               href="#"
               {#href="{{ path('victoire_core_widget_new_quantum_item', {type: widget.type, viewReference: view.reference.id, slot: slot, position: position, parentWidgetMap: parentWidgetMap}) }}"#}
            ><i class="edit fa fa-plus"></i></a>
        </li>
    </ul>
{% endblock modal_body_content %}

