{% extends 'VictoireCoreBundle:Widget:Form/_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_container_classes %}{{ parent() }} -stylize{% endblock modal_container_classes %}

{% block modal_header_title %}
    {{ 'victoire_widget.stylize.title'|trans({'%widgetId%': widget.id})|raw }}
{% endblock modal_header_title %}

{% block modal_body_content %}
    {% if widget.id and widget.currentView != widget.view %}
        <div class="vic-alert vic-alert-warning vic-alert-dismissible">
            {{ 'victoire.widget.inherited.notice'|trans({'%templateName%': widget.view.name, '%templateEditLink%': path('victoire_core_widget_edit', {'id': widget.id, 'viewReference': widget.view.reference.id })}, 'victoire')|raw }}
        </div>
    {% endif %}

    <div class="vic-tab-content vic-modal-tab-content vic-modal-tab-content-container">
        {% for index, form in forms %}
        <div class="vic-tab-quantum vic-tab-pane{% if form.vars.data.id == widget.id %} vic-active{% endif %}" id="widget-{{ widgets[index].id }}-tab-pane" data-group="tab-widget-quantum">
            {% include 'VictoireCoreBundle:Widget/Form/stylize:form.html.twig' %}
        </div>
        {% endfor %}
    </div>

    <ul class="vic-nav vic-nav-tabs vic-modal-nav-tabs">
        {% for index, form in forms %}
            <li class="{% if not loop.last %}vic-separate{% endif %}{% if form.vars.data.id == widget.id %} vic-active{% endif %}">
                <a id="widget-{{ widgets[index].id}}-tab" class="quantum-tab-name" href="#widget-{{ widgets[index].id}}-tab-pane" data-toggle="vic-tab"><span>{{ widgets[index].quantum ? widgets[index].quantum : "widget_modal.quantum.tab.default"|trans }}</span></a>
            </li>
        {% endfor %}
    </ul>
    <script>
        <!--
        /**
         * Responsive tabs
         * ===============
         * problematic:
         * When form is refresh, active tab was always the first one.
         * Or when we change the background type in LG tab, we want to return on this tab automatically
         * solution:
         * We use a hidden input with value of the good tab
         * When we click on a new tab, the value of this input will change
         */
        $(document).on('click', '.vic-nav-group .item a[data-toggle="vic-tab"]', function(){
            $('#widget_style_vicActiveTab').attr('value', $(this).data("key"));
        });
        -->
    </script>

{% endblock modal_body_content %}

{% block action %}update{% endblock action %}
{% block modal_footer_content %}
    <a href="#" class="vic-btn vic-btn-default vic-pull-left" data-modal="close"><i class="fa fa-times-circle"></i> {{ 'modal.button.cancel.title'|trans({}, 'victoire') }}</a>
    <a href="#" class="vic-btn vic-btn-success" data-modal="{{ block('action') }}" title="{{ ('modal.button.'~ block('action') ~'.title')|trans({}, 'victoire') }}"><i class="fa fa-check-circle"></i> {{ ('modal.button.'~ block('action') ~'.title')|trans({}, 'victoire') }}</a>
{% endblock modal_footer_content %}
