{% extends 'VictoireCoreBundle:Widget:Form/_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_container_classes %}{{ parent() }} -stylize{% endblock modal_container_classes %}

{% block modal_header_title %}
    {{ 'victoire_widget.stylize.title'|trans({'%widgetId%': widget.id})|raw }}
{% endblock modal_header_title %}

{% block modal_body_sidebar %}
    <nav class="v-navbar v-navbar--vertical">
        <div class="v-flex-grid v-flex-grid--direction-column" id="v-quantum-tab">
            {% for key, form in forms %}
                {% include "VictoireCoreBundle:Widget:Form/tab.html.twig" with {
                    'widget': widgets[key],
                    'active': form.active is defined ? form.active : false,
                    'id': widgets[key].id ? widgets[key].id : id
                } %}
            {% endfor %}
        </div>
    </nav>
{% endblock modal_body_sidebar %}

{% block modal_body_content %}
    {% if widget.id and widget.currentView != widget.view %}
        {% embed "VictoireUIBundle:Bricks:alert.html.twig" with { theme: "warning" } %}
            {% block body %}
                {{ 'victoire.widget.inherited.notice'|trans({'%templateName%': widget.view.name, '%templateEditLink%': path('victoire_core_widget_edit', {'id': widget.id, 'viewReference': widget.view.reference.id })}, 'victoire')|raw }}
            {% endblock body %}
        {% endembed %}
    {% endif %}

    <div id="v-modal-tab-content-container">
        {% for index, form in forms %}
            <div class="v-collapse" id="widget-{{ widgets[index].id }}-tab-pane" data-flag="v-collapse" data-group="tab-widget-quantum" {% if loop.first %}data-state="visible"{% endif %}>
                {% include 'VictoireCoreBundle:Widget/Form/stylize:form.html.twig' %}
            </div>
        {% endfor %}
    </div>

    <script>
        <!--
        /**
         * Responsive tabs
         * ===============
         * problematic:
         * When form is refresh, active tab was always the first one.
         * Or when we change the background type in LG tab, we want to return on this tab automatically
         * solution:
         * We use a hidden input with value of the good tab
         * When we click on a new tab, the value of this input will change
         */
        $(document).on('click', '#v-style-tab .v-tabs-nav__anchor', function(){
            $('#widget_style_vicActiveTab').attr('value', $(this).data("key"));
        });
        -->
    </script>
{% endblock modal_body_content %}

{% block action %}update{% endblock action %}

{% block modal_footer_content %}
    <div class="v-flex-grid v-flex-grid--justify-between">
        <div class="v-flex-col">
            <a href="#" class="v-btn v-btn--transparent" data-modal="close">
                {{ 'modal.button.cancel.title'|trans({}, 'victoire') }}
            </a>
        </div>

        <div class="v-flex-col">
            <a href="#" class="v-btn v-btn--danger" data-modal="{{ block('action') }}" title="{{ ('modal.button.'~ block('action') ~'.title')|trans({}, 'victoire') }}">
                {{ ('modal.button.'~ block('action') ~'.title')|trans({}, 'victoire') }}
            </a>
        </div>
    </div>
{% endblock modal_footer_content %}
