{% trans_default_domain "victoire" %}

{% set name = widget.quantum ? widget.quantum : "widget_modal.quantum.tab.default"|trans({}, 'victoire') %}

<div class="v-flex-col">
    <a
        class="v-btn v-btn--square v-btn--quantum"
        data-flag="v-drop"
        data-position="middle rightout"
        data-droptarget="#tooltip-quantum-{{ id }}-name"
        data-behavior="hover"
        data-collapse="show"
        data-href="#widget-{{ id }}-tab-pane"
        data-activeclass="v-btn--quantum-active"
    >
        {% include "VictoireUIBundle:SVG:quantum.html.twig" with { class: 'v-btn--quantum__ic' } %}
        {{ name|truncate(2, false, '') }}
    </a>

    <div class="v-drop v-drop--tooltip" id="tooltip-quantum-{{ id }}-name">
        <div class="v-drop__content">
            {{ name }}
        </div>
    </div>
</div>
