{% form_theme form 'VictoireFormBundle:Form:fields.html.twig' %}
{% trans_default_domain "victoire" %}

<form method="POST" action="{{ action }}">
    <div class="vic-row">
        {% set date = form.publishedAt is defined ? true : false %}
        {{  _self.global(form, date) }}
    </div>
    <br>
    <div class="vic-row">
        {{ form_widget(form.translations) }}
    </div>

    <div class="vic-row">
        <div class="vic-col-md-12">
            <h1>{{ 'form.article.settings.type.article.title'|trans }}</h1>
        </div>
    </div>
    <br>
    <div class="vic-row">
        <div class="col-md-6">
            {{ form_row(form.image) }}
        </div>
    </div>
    <br>
    <div class="vic-row">
        <div class="col-md-6">
            {{ form_row(form.category) }}
        </div>
        <div class="vic-col-md-6">
            {{ form_row(form.tags) }}
        </div>
    </div>

    <div class="vic-row">
        <div class="vic-col-md-12">
            {{ form_rest(form) }}
        </div>
    </div>
</form>

<script type="text/javascript">
    $vic('#victoire_page_settings_type_status').on('change', function(){
        if ($vic(this).val() == '{{ constant('Victoire\\Bundle\\PageBundle\\Entity\\PageStatus::SCHEDULED') }}') {
            $vic('.publication-date-container').removeClass('vic-hidden');
        } else {
            $vic('.publication-date-container').addClass('vic-hidden');
        }
    });
</script>

{% javascripts
    '@VictoireFormBundle/Resources/public/js/datetimepicker-init.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% macro global(form, datePicker) %}
    {% set col = 3 %}
    <div class="vic-col-md-{{ datePicker ? 12 - col * 2 : 12 - col }}">
        <h1>{{ 'form.article.settings.type.global.title'|trans }}</h1>
    </div>
    {% if form.status is defined %}
        <div class="vic-col-md-{{ col }}">
            {{ form_row(form.status) }}
        </div>
        {% if datePicker %}
            <div class="vic-col-md-{{ col }}">
                {{ form_row(form.publishedAt) }}
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}
