{% form_theme form 'VictoireFormBundle:Form:fields.html.twig' %}
{% trans_default_domain "victoire" %}

<form method="POST" action="{{ action }}">
    <div class="vic-row">
        <div class="col-md-7">
            {{ form_widget(form.translations) }}
        </div>
        <div class="col-md-5">
            {% if form.status is defined %}
                {{ form_row(form.status) }}
                <div class="publication-date-container{% if form.vars.value.status != constant('Victoire\\Bundle\\PageBundle\\Entity\\PageStatus::SCHEDULED')%} vic-hidden{% endif %}">
                    {{ form_row(form.publishedAt) }}
                </div>
            {% endif %}
            {{ form_row(form.category) }}
            {{ form_row(form.tags) }}
            {{ form_row(form.author) }}
            {{ form_rest(form) }}
        </div>
    </div>


</form>

<script type="text/javascript">
    $vic('#article_settings_status').on('change', function(){
        if ($vic(this).val() == '{{ constant('Victoire\\Bundle\\PageBundle\\Entity\\PageStatus::SCHEDULED') }}') {
            $vic('.publication-date-container').removeClass('vic-hidden');
        } else {
            $vic('.publication-date-container').addClass('vic-hidden');
        }
    });
</script>

{% javascripts
    '@VictoireFormBundle/Resources/public/js/datetimepicker-init.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
