{% form_theme form 'VictoireFormBundle:Form:fields.html.twig' %}

{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_container_classes %}{{ parent() }} vic-view-modal{% endblock modal_container_classes %}

{% block modal_header_title %}
    {{"modal.article.new.title"|trans()}}
{% endblock modal_header_title %}

{% block modal_body_content %}
    <form method="POST" action="{{path('victoire_blog_article_create')}}">
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.category) }}
        {{ form_row(form.tags) }}
        {{ form_row(form.pattern) }}
        {{ form_rest(form) }}
    </form>
{% endblock modal_body_content %}

{% block modal_footer_content %}
    <a href="#" class="vic-btn vic-btn-success" data-modal="{% block action %}create{% endblock action %}" title="{{ ('modal.button.'~ block('action') ~'.title')|trans({}, 'victoire') }}"><i class="fa fa-check-circle"></i> {{ ('modal.button.'~ block('action') ~'.title')|trans({}, 'victoire') }}</a>
{% endblock modal_footer_content %}
