{% form_theme form 'VictoireFormBundle:Form:fields.html.twig' %}

{% trans_default_domain "victoire" %}

{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% block modal_container_classes %}{{ parent() }} vic-view-modal{% endblock modal_container_classes %}

{% block modal_body_content %}
    {% include 'VictoireBusinessEntityBundle:BusinessProperty:list.html.twig' with { 'businessProperties':businessProperties } %}

    <h1>{{ 'business_entity_page_pattern.creation.title'|trans }}</h1>
    {{ form(form) }}
</ul>
{% endblock modal_body_content %}

{% block modal_footer_content %}
    <div class="vic-modal-footer-content">
        <a href="#" class="vic-btn vic-btn-success" data-modal="{% block action %}create{% endblock action %}" title="{{ ('modal.button.'~ block('action') ~'.title')|trans({}, 'victoire') }}"><i class="fa fa-check-circle"></i> {{ ('modal.button.'~ block('action') ~'.title')|trans({}, 'victoire') }}</a>
    </div>
{% endblock modal_footer_content %}
