<li class="v-list-group__item" id="page-{{ page.id }}">
    <div class="v-sitemap__line v-sitemap__line--{{ level }}">
        {% spaceless %}
            <img src="{{ asset('bundles/victoirecore/images/move_cross.png') }}" height="20">

            <a class="v-sitemap__cell v-sitemap__cell--title"
               href="{{ path('victoire_core_page_show', {'url': page.url}) }}"
               title="{{ 'sitemap.goto'|trans({'%pageName%': page.name}, 'victoire') }}"
            >
                {{ page.name|striptags }}
            </a>
        {% endspaceless %}

        <div class="v-sitemap__cell v-sitemap__cell--status">
            {{ ('page.status.label.' ~ page.status)|trans({}, 'victoire') }}
        </div>

        {% set sitemapPriorityForm = attribute(forms, page.id) %}

        {{ form_start(sitemapPriorityForm) }}
            <div class="v-sitemap__interact-wrapper">
                <div class="v-sitemap__cell v-sitemap__cell--priority">
                    {{ form_widget(sitemapPriorityForm.sitemapPriority, {
                        'attr': {
                            'onchange':'$vic(this).parents("form").submit();'
                        }})
                    }}
                </div>

                <div class="v-sitemap__cell v-sitemap__cell--indexed">
                    {{ form_widget(sitemapPriorityForm.sitemapIndexed, {
                        'attr': {
                            'onchange':'$vic(this).parents("form").submit();'
                        }})
                    }}
                </div>
            </div>
        {{ form_end(sitemapPriorityForm) }}

        <div class="v-sitemap__cell v-sitemap__cell--delete" domflag>
            {% if not page.undeletable %}
                <a href="{{ path('victoire_core_page_delete', {'id': page.id}) }}"
                   data-toggle="vic-confirm"
                   class="v-btn v-btn--danger v-btn--square v-btn--framed v-btn--transparent v-btn--sm"
                   data-title="{{ 'modal.form.page.settings.action.delete.confirm.title'|trans({}, 'victoire') }}"
                   data-body="{{ 'modal.form.page.settings.action.delete.confirm.body'|trans({}, 'victoire') }}"
                   data-modal="delete"
                >
                    <i class="fa fa-trash-o"></i>
                </a>
            {% endif %}
        </div>
    </div>

    {% if page.children|length %}
        <ul class="v-list-group v-list-group__sub-list">
            {% set level = level + 1 %}

            {% for _page in page.getWebViewChildren() %}
                {% include 'VictoireSitemapBundle:Sitemap:_sitemapItem.html.twig' with {'page': _page, 'level': level} %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
