{% trans_default_domain "victoire" %}

<div id="v-businessentity-list__header" class="v-flex-grid v-flex-grid--justify-between v-flex-grid--align-center">
    <div class="v-flex-col">
        {% spaceless %}
            <h1 class="v-h3" id="v-businessentity-list__heading">
                {{ 'business_template.listEntities'|trans({}, 'victoire') }}
                "{{ businessEntity.getName }}"
            </h1>
        {% endspaceless %}
    </div>

    <div class="v-flex-col">
        {% spaceless %}
            <a class="v-btn v-btn--success"
               data-toggle="vic-modal"
               href="{{ path('victoire_business_template_new', {'id': businessEntity.id}) }}"
            >
                {{ 'list.action.add'|trans }}
            </a>
        {% endspaceless %}
    </div>
</div>

{% if BusinessTemplates|length %}
    <ul class="v-list-group v-list-group--main v-list-group--sm">
        {% for pagePattern in BusinessTemplates %}
            <li class="v-list-group__item">
                <div class="v-flex-grid v-flex-grid--justify-between v-flex-grid--align-center">
                    <div class="v-flex-col">
                        {{ pagePattern.backendName }}
                    </div>

                    <div class="v-flex-col">
                        <a class="v-btn v-btn--square v-btn--sm"
                           data-toggle="vic-modal"
                           href="{{ path('victoire_business_template_edit', {'id': pagePattern.id}) }}"
                        >
                            {% include 'VictoireUIBundle:SVG:pencil.html.twig' with { 'height': '16', 'width': '16' } %}
                        </a>

                        <a class="v-btn v-btn--square v-btn--sm"
                           href="{{ path('victoire_business_template_show', {'id' : pagePattern.id}) }}"
                        >
                            {% include 'VictoireUIBundle:SVG:angle-right.html.twig' with { 'height': '12', 'width': '7' } %}
                        </a>

                        <button class="v-btn v-btn--info v-btn--square v-btn--sm"
                                data-collapse="toggle"
                                data-href="#page-pattern-list-{{ pagePattern.id }}"
                        >
                            {% include 'VictoireUIBundle:SVG:menu.html.twig' with { 'height': '20', 'width': '20' } %}
                        </button>
                    </div>
                </div>
            </li>

            <li class="v-list-group__sub-list / v-collapse" id="page-pattern-list-{{ pagePattern.id }}" data-flag="v-collapse">
                <ul class="v-list-group">
                    {{ render(path('victoire_business_template_listentities', {'id': pagePattern.id})) }}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="v-alert v-alert--info">
        <div class="v-alert__body">
            {{ 'business_template.noEntities'|trans({}, 'victoire') }}
        </div>
    </div>
{% endif %}

