<div id="addfile-modal" class="modal hide fade">

    {% form_theme fileform 'VictoireMediaBundle:Form:fields.html.twig' %}

    {{ form_start(fileform, {'method': 'POST', 'action': path('VictoireMediaBundle_media_modal_create', { 'folderId' : folder.id, 'type': 'file' }) }) }}
        <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h3>{{ 'media.file.modal.title' |trans({}, 'victoire') }}</h3>
        </div>
        <div class="modal-body--upload">
            {{ form_row(fileform.name) }}
            {{ form_widget(fileform.file) }}
            {{ form_rest(fileform) }}
        </div>
        <div class="modal-footer">
            <div class="btn_group">
                <button class="btn btn-primary" type="submit">{{ 'media.file.modal.save' |trans({}, 'victoire') }}</button>
                <button class="btn" type="reset" data-dismiss="modal">{{ 'form.cancel' |trans({}, 'victoire') }}</button>
            </div>
        </div>
    {{ form_end(fileform) }}
</div>
