{% extends 'VictoireMediaBundle:Default:layout.html.twig' %}

{% block title %}{{ 'media.media.new' |trans({'%folder%': folder.name}, 'victoire') | raw }}{% endblock%}

{% block header %}
    <div class="page-header">
        <h1>{{ 'media.media.addto'|trans({'%folder%': folder.name}, 'victoire') | raw }}</h1>
    </div>
{% endblock %}

{% block content %}
    {% form_theme form 'VictoireMediaBundle:Form:fields.html.twig' %}

    {{ form_start(form) }}
        {{ form_rest(form) }}
        <div class="prop_wrp">
            <div class="input_prop">
                <div class="btn_group">
                    <button class="btn" onclick="window.location = '{{ path('VictoireMediaBundle_folder_show', { 'folderId' : folder.id } ) }}'" type="reset">{{ 'form.cancel' |trans({}, 'victoire') }}</button>
                    <button class="btn btn-primary" type="submit">{{ 'media.file.add' |trans({}, 'victoire') }}</button>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
