{% set adminmenu = admin_menu_get() %}

{% set extraclasshtml %}{% block extraclasshtml %}{% endblock %}{% endset %}


    <!--=========== CSS ===========-->
    <!--Combine-->
    <!--Customizable color brand-->
    <style type="text/css">
        {% if titlecolor is not defined or titlecolor is empty %}
            {% set titlecolor = "#FFFFFF" %}
        {% endif %}
            {% if titlebgcolor is not defined or titlebgcolor is empty %}
        {% set titlebgcolor = "#2997CE" %}
        {% endif %}
        header .navbar .container-fluid .brand, header .navbar .container-fluid .brand:visited, header .navbar .container-fluid .brand:hover, header .navbar .container-fluid .brand:active, header .navbar .container-fluid .brand:focus {
            color: {{ titlecolor }};
            background-color: {{ titlebgcolor }};
        }
        header .navbar .container-fluid .brand::after {
            border-left-color: {{ titlebgcolor }};
        }
    </style>
    <!--Extra CSS-->
    {% block extracss %}{% endblock %}



    <!--=========== JS ===========-->
    <!--Combined-->





    {% block body %}


    <!--=========Main Content=========-->
    <div class="container-fluid">
        <!--Sidebar-->
        {% block sidebar %}
            {% include "KunstmaanMediaBundle:Default:sidebar.html.twig" %}
        {% endblock %}

        <!--Content_wrp-->
        <div id="main_content" class="content">
            <!--Breadcrumb-->
            {% block breadcrumb %}
            {% set breadcrumbitems = adminmenu.breadcrumb %}
            {% if breadcrumbitems | length > 0 %}
            <ul class="breadcrumb">
                {% for breadcrumbitem in breadcrumbitems %}
                {% if loop.last %}
                <li class="active">{{ breadcrumbitem.internalname | trans }}</li>
                {% else %}
                <li><a href="{{ path(breadcrumbitem.route, breadcrumbitem.routeparams) }}">{{ breadcrumbitem.internalname | trans }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            {% endblock %}

            {% for flashMessageType, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ flashMessageType }}">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>{{ flashMessageType | capitalize }}:</strong> {{ flashMessage }}
                    </div>
                 {% endfor %}
            {% endfor %}

            <!-- Messages -->
            {% block messages %}{% endblock %}

            <!--Content-header-->
            {% block header %}
            <div class="page-header">
                {% if adminmenu.current %}<h1>{{ adminmenu.current.internalname | trans }} {% block page_header_addition %}{% endblock %}</h1>{% endif %}
                {% block extra_actions_header %}{% endblock %}
            </div>
            {% endblock %}

            <!--Content-->
            {% block content %}{% endblock %}
        </div>
    </div>


    <!--=========Footer=========-->
    <footer>
        <div class="container-fluid">
            <p class="pull-right">
                <a target="_blank" href="http://www.kunstmaan.be" class="kunstmaan-logo">
                    <object data="{{ asset('bundles/kunstmaanmedia/img/general/kunstmaan_dark.svg') }}" type="image/svg+xml">
                        <img src="{{ asset('bundles/kunstmaanmedia/img/general/kunstmaan_dark.png') }}" alt="Kunstmaan" />
                    </object>
                </a>
            </p>
        </div>
    </footer>
    {% endblock %}









    <!--=========== JS ===========-->

    <!--Uncombined-->


    <!--Extra-->
    {% block extrajavascript %}{% endblock %}

