{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_container_classes %}{{ parent() }} vic-view-modal{% endblock modal_container_classes %}

{% block modal_body_content %}
<ol id="sortable">
   {{ _self.pagesHierarchy(pages) }}
</ol>
<script>
    $vic(document).ready(function () {
        $vic('#sortable').nestedSortable({
            handle: 'div',
            items: 'li',
            toleranceElement: '> div',
            update: function (event, ui )
            {
             updatePosition($('#sortable'), ui);
         }
     });

        function updatePosition(element, ui)
        {
            var sorted = element.nestedSortable("toArray");
            $vic.post("{{path('victoire_core_page_sitemap')}}",
            {
                sorted: sorted
            }
            );
        };

        $vic('.modal').on('hidden', function () {
            $vic('.modal').remove();
        });
    });
</script>
{% endblock modal_body_content %}

{% macro pagesHierarchy(pagesList) %}
{% for page in pagesList %}
{{ cms_page_sitemap(page) }}
{% if page.children %}
<ol>
   {{ _self.pagesHierarchy(page.children) }}
</ol>
{% endif %}
{{ cms_page_business_page_pattern_sitemap(page) }}
</li>
{% endfor %}
{% endmacro %}
