{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_container_classes %}{{ parent() }} vic-view-modal{% endblock modal_container_classes %}

{% block modal_header_title %}
{{ 'modal.sitemap.title'|trans({}, 'victoire')}}
{% endblock modal_header_title %}
{% block modal_body_content %}
<div class="vic-alert vic-alert-info"><i class="fa fa-info"></i>&nbsp;&nbsp;{{ 'modal.sitemap.caption'|trans({}, 'victoire') }}</div>
<ol id="sortable">
   {{ _self.pagesHierarchy(pages) }}
</ol>
<script>
    $vic(document).ready(function () {
        $vic('#sortable').nestedSortable({
            handle: 'div',
            items: 'li',
            toleranceElement: '> div',
            update: function (event, ui )
            {
                updatePosition($vic('#sortable'), ui);
            }
        });

        function updatePosition(element, ui)
        {
            var sorted = $vic(element).nestedSortable("toArray");
            loading(true);
            $vic.post(
                "{{path('victoire_core_page_sitemap')}}",
                {
                    sorted: sorted
                }
            ).done(function(response) {
                loading(false);
                congrat(response.message);

                $vic('#vic-modal').replaceWith(response.html);
                $vic('#vic-modal').vicmodal({
                    keyboard: true,
                    backdrop: false
                });
            });
        };

        $vic('.modal').on('hidden', function () {
            $vic('.modal').remove();
        });
    });
</script>
{% endblock modal_body_content %}

{% macro pagesHierarchy(pagesList) %}
{% for page in pagesList %}
{{ cms_page_sitemap(page) }}
{% if page.children %}
<ol>
   {{ _self.pagesHierarchy(page.children) }}
</ol>
{% endif %}
{{ cms_page_business_page_pattern_sitemap(page) }}
</li>
{% endfor %}
{% endmacro %}
