<meta charset="{{ charset|default('UTF-8') }}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

{% if view.articles is defined %}
<link rel="alternate" type="application/rss+xml" title="{{ view.name }}" href="{{ path('victoire_blog_rss', {'slug': view.slug}) }}"/>
{% endif %}

{% if view is defined and view.seo is defined and view.seo %}
    <!-- Basics -->
    {% if view.seo.metaTitle %}<title>{{ view.seo.metaTitle }}</title>{% endif %}
    {% if view.seo.metaDescription %}<meta name="description" content="{{ view.seo.metaDescription }}"/>{% endif %}

    <!-- Google Authorship -->
    {% if view.seo.relAuthor %}<link rel="author" href="{{ view.seo.relAuthor }}"/>{% endif %}
    {% if view.seo.relPublisher %}<link rel="publisher" href="{{ view.seo.relPublisher }}"/>{% endif %}

    <!-- OpenGraph (Facebook, Linkedin, ...) -->
    {% if view.seo.ogTitle %}<meta property="og:title" content="{{ view.seo.ogTitle }}"/>{% endif %}
    {% if view.seo.ogType %}<meta property="og:type" content="{{ view.seo.ogType }}"/>{% endif %}
    {% if view.seo.ogImage %}<meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ view.seo.ogImage }}"/>{% endif %}
    {% if view.seo.ogUrl %}<meta property="og:url" content="{{ view.seo.ogUrl }}"/>{% endif %}
    {% if view.seo.ogDescription %}<meta property="og:description" content="{{ view.seo.ogDescription }}"/>{% endif %}
    {% if view.seo.fbAdmins %}<meta property="fb:admins" content="{{ view.seo.fbAdmins }}"/>{% endif %}

    <!-- Twitter -->
    {% if view.seo.twitterCard %}<meta name="twitter:card" content="{{ view.seo|default({'twitterCard': 'summary'}).twitterCard }}"/>{% endif %}
    {% if view.seo.twitterUrl %}<meta name="twitter:site" content="{{ view.seo.twitterUrl }}"/>{% endif %}
    {% if view.seo.twitterTitle %}<meta name="twitter:title" content="{{ view.seo.twitterTitle }}"/>{% endif %}
    {% if view.seo.twitterCreator %}<meta name="twitter:creator" content="{{ view.seo.twitterCreator }}"/>{% endif %}
    {% if view.seo.twitterDescription %}<meta name="twitter:description" content="{{ view.seo.twitterDescription }}"/>{% endif %}
    {% if view.seo.twitterImage %}<meta name="twitter:image" content="{{ app.request.getSchemeAndHttpHost() ~ view.seo.twitterImage }}"/>{% endif %}

    {% if view.seo.metaRobotsIndex %}<meta name="robots" content="{{ view.seo.metaRobotsIndex }},{{ view.seo.metaRobotsFollow }}"/>{% endif %}
    <!-- Robots advanced {{ view.seo.metaRobotsAdvanced }} -->

    {% if view.seo.relCanonical %}<link rel="canonical" href="{{ view.seo.relCanonical }}"/>{% endif %}
    {% if view.seo.keyword %}<meta name="keywords" content="{{ view.seo.keyword }}"/>{% endif %}
    {% if view.seo.metaRobotsAdvanced %}
        <meta name="robots" content="{{ view.seo.metaRobotsAdvanced }}"/>
    {% else %}
        {% if view.seo.metaRobotsIndex and view.seo.metaRobotsFollow %}<meta name="robots" content="{{ view.seo.metaRobotsIndex }}, {{ view.seo.metaRobotsFollow }}"/>{% endif %}
    {% endif %}
{% else %}
<title>{{ view.name|default('Victoire DCMS') }}</title>
{% endif %}
