<meta charset="{{ charset|default('UTF-8') }}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

{% if view.articles is defined %}
    <link rel="alternate" type="application/rss+xml" title="{{ view.name }}" href="{{ path('victoire_blog_rss', {'id': view.id}) }}"/>
{% endif %}

<title>
    {% if globalConfig|default(null) and globalConfig.metaTitlePattern != null %}
        {{ globalConfig.metaTitlePattern|replace({
            '%page.id%': view.id,
            '%page.name%': view.name|striptags,
            '%page.author%': view.author,
            '%page.title%': view.seo|default({'metaTitle': view.name|striptags}).metaTitle|striptags,
            '%page.slug%': view.slug,
        }) }}
    {% else %}
        {# use seo.metaTitle as <title> if exists or view.name if view exists else a static value #}
        {{ view|default({}).seo|default(
            {'metaTitle': view|default({}).name|default('Victoire DCMS')|striptags}
        ).metaTitle|striptags }}
    {% endif %}
</title>

{% if view is defined and view.seo is defined and view.seo %}
    <!-- Basics -->
    {% if view.seo.metaDescription %}<meta name="description" content="{{ view.seo.metaDescription|striptags }}"/>{% endif %}

    <!-- Google Authorship -->
    {% if view.seo.relAuthor %}<link rel="author" href="{{ view.seo.relAuthor }}"/>{% endif %}
    {% if view.seo.relPublisher %}<link rel="publisher" href="{{ view.seo.relPublisher }}"/>{% endif %}

    <!-- OpenGraph (Facebook, Linkedin, ...) -->
    {% if view.seo.ogTitle %}<meta property="og:title" content="{{ view.seo.ogTitle|striptags }}"/>{% endif %}
    {% if view.seo.ogType %}<meta property="og:type" content="{{ view.seo.ogType }}"/>{% endif %}
    {% if view.seo.ogImage %}<meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ view.seo.ogImage }}"/>{% endif %}
    {% if view.seo.ogUrl %}<meta property="og:url" content="{{ view.seo.ogUrl }}"/>{% endif %}
    {% if view.seo.ogDescription %}<meta property="og:description" content="{{ view.seo.ogDescription|striptags }}"/>{% endif %}
    {% if view.seo.fbAdmins %}<meta property="fb:admins" content="{{ view.seo.fbAdmins }}"/>{% endif %}

    <!-- Twitter -->
    {% if view.seo.twitterCard %}<meta name="twitter:card" content="{{ view.seo|default({'twitterCard': 'summary'}).twitterCard }}"/>{% endif %}
    {% if view.seo.twitterUrl %}<meta name="twitter:site" content="{{ view.seo.twitterUrl }}"/>{% endif %}
    {% if view.seo.twitterTitle %}<meta name="twitter:title" content="{{ view.seo.twitterTitle|striptags }}"/>{% endif %}
    {% if view.seo.twitterCreator %}<meta name="twitter:creator" content="{{ view.seo.twitterCreator }}"/>{% endif %}
    {% if view.seo.twitterDescription %}<meta name="twitter:description" content="{{ view.seo.twitterDescription|striptags }}"/>{% endif %}
    {% if view.seo.twitterImage %}<meta name="twitter:image" content="{{ app.request.getSchemeAndHttpHost() ~ view.seo.twitterImage }}"/>{% endif %}

    {% if view.seo.metaRobotsIndex %}<meta name="robots" content="{{ view.seo.metaRobotsIndex }},{{ view.seo.metaRobotsFollow }}"/>{% endif %}
    <!-- Robots advanced {{ view.seo.metaRobotsAdvanced }} -->

    {% if view.seo.relCanonical %}<link rel="canonical" href="{{ view.seo.relCanonical }}"/>{% endif %}
    {% if view.seo.keyword %}<meta name="keywords" content="{{ view.seo.keyword }}"/>{% endif %}
    {% if view.seo.metaRobotsAdvanced %}
        <meta name="robots" content="{{ view.seo.metaRobotsAdvanced }}"/>
    {% else %}
        {% if view.seo.metaRobotsIndex and view.seo.metaRobotsFollow %}<meta name="robots" content="{{ view.seo.metaRobotsIndex }}, {{ view.seo.metaRobotsFollow }}"/>{% endif %}
    {% endif %}
{% endif %}

{% if globalConfig|default(null) %}
    <!-- GLOBAL CONFIG -->
    {{ globalConfig.head|raw }}
    {% if globalConfig.mainColor %}
        <!-- Microsoft -->
        <meta name="msapplication-TileColor" content="{{ globalConfig.mainColor }}"/>
        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="{{ globalConfig.mainColor }}">
    {% endif %}

    {% if globalConfig.organizationJsonLD != '' %}
        <!-- Semantic markup (https://schema.org) -->
        <script type="application/ld+json">
            {{ globalConfig.organizationJsonLD|raw }}
        </script>
    {% endif %}
    <!-- END GLOBAL CONFIG -->
{% endif %}

{% block head_icons %}
    <!-- icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}?version={{ globalConfig.id|default(0) }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}?version={{ globalConfig.id|default(0) }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}?version={{ globalConfig.id|default(0) }}">
    <link rel="manifest" href="{{ asset('site.webmanifest') }}?version={{ globalConfig.id|default(0) }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?version={{ globalConfig.id|default(0) }}" />
    <!-- END icons -->
{% endblock %}
