{% form_theme form 'VictoireFormBundle:Form:fields.html.twig' %}

{% trans_default_domain "victoire" %}

{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% block modal_container_classes %}{{ parent() }} v-modal--view{% endblock modal_container_classes %}
{% block modal_header_title %}{{ 'business_template.creation.title'|trans }}{% endblock modal_header_title %}

{% block modal_body_content %}
    {{ form_start(form) }}
        <div class="v-grid">
            <div class="v-col v-col--xs-12 v-col--sm-6">
                {{ form_widget(form.translations) }}
            </div>

            <div class="v-col v-col--xs-12 v-col--sm-6">
                <div id="v-businesstemplate-new--sidebar">
                    {{ form_row(form.backendName) }}

                    {% if form.parent is defined and form.parent %}
                        {{ form_row(form.parent) }}
                    {% endif %}

                    {{ form_row(form.template) }}

                    {% if form.locale is defined %}
                        {{ form_row(form.locale) }}
                    {% endif %}
                </div>
            </div>
        </div>

        {% embed "VictoireUIBundle:Bricks:alert.html.twig" with {
            theme: "info",
            id: "v-businesstemplate-new--request-alert",
        } %}
            {% block body %}
                {% include 'VictoireUIBundle:SVG:information.html.twig' with { width: '16', height: '16' } %}
                {{ 'victoire.form.business_template.query.vic_help_block'|trans({}, 'victoire')|raw }}
            {% endblock body %}
        {% endembed %}


        {{ form_row(form.query) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock modal_body_content %}

{% block modal_footer_content %}
    <a href="#" class="vic-btn vic-btn-success" data-modal="{% block action %}create{% endblock action %}" title="{{ ('modal.button.'~ block('action') ~'.title')|trans({}, 'victoire') }}"><i class="fa fa-check-circle"></i> {{ ('modal.button.'~ block('action') ~'.title')|trans({}, 'victoire') }}</a>
{% endblock modal_footer_content %}
