{% extends 'VictoireCoreBundle:Layout:layout.html.twig' %}

{% block head_style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/victoireui/stylesheets/main-front.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/victoireui/stylesheets/main-styleguide.css') }}"/>
{% endblock head_style %}

{% block head_script %}
    {{ parent() }}
    <script src="{{ asset('/bundles/victoireui/scripts/styleguide/highlight/highlight.pack.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{ asset('/bundles/victoireui/bower_components/clipboard/dist/clipboard.min.js') }}"></script>
{% endblock head_script %}

{% block container_class %}ts-body{% endblock %}

{% block body_content %}
    {% if not focus %}
        <aside class="ts-sidebar" id="sidebar">
            <nav class="ts-sidebar__nav">
                {% for component in components %}
                    <a class="ts-sidebar__nav-anchor" href="#{{ component|lower|replace({ ' ': '-' }) }}">{{ component }}</a>
                {% endfor %}
            </nav>
        </aside>
    {% endif %}

    <main class="ts-main{% if focus %} ts-main--focus{% endif %}">
        <header class="ts-header{% if focus %} ts-header--focus{% endif %}">
            <a class="ts-header__anchor ts-header__title" {% if focus %} href="{{ path('victoire_ui_styleguide') }}"{% else %}onclick="toggleSidebar()"{% endif %}>
                <!-- <img class="ts-header__logo" src="" height="20"> -->

                <svg class="ts-header__logo" xmlns="http://www.w3.org/2000/svg" width="47" height="46" viewBox="0 0 47 46">
                    <g fill="none" fill-rule="evenodd">
                        <path fill="rgb(23, 33, 56)" d="M19.945 26.057l-.67-.67L30.283 14.94l.39.39.39.388-10.45 11.008-.668-.67zM11.81 34.97l-.388-.39-.39-.39 7.332-7.89.668.668.67.67-7.892 7.33zm9.474 6.105l.837-5.173-.35-.354.15-.42.55-.328 4.04-6.532-.23-.235.27-.656 1.158-1.154.094.092 1.31-1.31-.105-.1.245-.247-.11-.107.49-.49-.217-.21-.49.49-.11-.1-.245.25-.1-.102-1.31 1.31.09.09-1.155 1.156-.63.29-.004.007-3.16 3.156h.007l.5.5-3.07 3.07.963-2.05-1.21-1.21c.48-.48 1.9-1.16 1.9-1.16 1.683-1.285 7.957-9.432 10.513-12.75 2.56-3.316 2.072-3.823 2.072-3.823l-.46-.46-.46-.46s-.51-.49-3.823 2.07c-3.32 2.55-11.47 8.822-12.753 10.51 0 0-.68 1.416-1.16 1.897l-1.21-1.21-2.05.963 3.07-3.072.5.5v.006l3.15-3.156v-.005l.29-.635 1.154-1.156.09.094 1.31-1.31-.1-.104.242-.244-.11-.1.49-.49-.21-.215-.493.49-.108-.106-.245.24-.102-.1-1.31 1.31.09.09-1.158 1.153-.656.27-.234-.234-6.53 4.035-.33.55-.42.15-.356-.355-5.173.837.27-.557-.43-.036-2.76 2.76-1.932 3.3-.07.54.083.087.278-.43.396-.07L3.24 31.4l-.82 2.462.28.282 1.336-1.33.497-.24.334.336-.225.478-1.81 2.31 2.13 2.13 1.915-1.366-1.786 2.17 1.15 1.142 1.14 1.143 2.17-1.786-1.37 1.92 2.14 2.13 2.31-1.81.478-.22.33.333-.24.496-1.33 1.336.285.28 2.463-.82 1.08 2.486-.073.393-.43.28.085.08.54-.06 3.3-1.947 2.76-2.76-.035-.433-.556.27z"/>
                        <path fill="#34B190" d="M40.71 6.29c-8.386-8.386-22.037-8.386-30.42 0C6.11 10.47 4.014 15.955 4 21.444l2.49-.4c.11-4.718 1.96-9.403 5.554-12.997 7.42-7.42 19.49-7.42 26.907-.002 7.42 7.418 7.43 19.492 0 26.91-3.59 3.59-8.26 5.436-12.98 5.552L25.57 43c5.484-.018 10.964-2.113 15.138-6.29 8.39-8.384 8.39-22.032 0-30.42"/>
                    </g>
                </svg>

                <h1 class="ts-header__heading">styleguide</h1>
            </a>

            <a class="ts-header__anchor ts-header__anchor--go-sidebar" href="#sidebar">menu</a>
        </header>

        {% if not focus %}
            <h1>Styleguide</h1>

            <p>This page list with code snippet all the Victoire UIs' visual components. The components below rely the assets listed below :</p>

            <ul>
                <li><strong>stylesheet</strong> - <i>into the &lt;head&gt;</i> - <code>Bundle/UIBundle/Resources/public/stylesheets/main-front.css</code></li>
                <li><strong>script</strong> - <i>at the &lt;body&gt; end</i> - <code>Bundle/UIBundle/Resources/public/bower_components/tether/dist/js/tether.min.js</code></li>
                <li><strong>script</strong> - <i>at the &lt;body&gt; end</i> - <code>Bundle/UIBundle/Resources/public/bower_components/trowel-forms/src/javascript/forms.js</code></li>
                <li><strong>script</strong> - <i>at the &lt;body&gt; end</i> - <code>Bundle/UIBundle/Resources/public/bower_components/trowel-drops/src/javascript/drops.js</code></li>
                <li><strong>script</strong> - <i>at the &lt;body&gt; end</i> - <code>Bundle/UIBundle/Resources/public/scripts/static-slots.js</code></li>
                <li><strong>script</strong> - <i>at the &lt;body&gt; end</i> - <code>Bundle/UIBundle/Resources/public/scripts/modals.js</code></li>
                <li><strong>script</strong> - <i>at the &lt;body&gt; end <strong>must be the last script of this list</strong></i> - <code>Bundle/UIBundle/Resources/public/scripts/initiator.js</code></li>
            </ul>
        {% endif %}

        {% for component in components %}
            {% set component = component|lower|replace({ ' ': '-' }) %}
            <section class="ts-section{% if focus %} ts-section--focus{% endif %}" id="{{ component }}">
                {% include '@styleguide/components/_' ~ component  ~ '.html.twig'  %}
            </section>
        {% endfor %}
    </main>
{% endblock body_content %}

{% block foot_script %}
    {{ parent() }}

    <script src="{{ asset('/bundles/victoireui/scripts/styleguide/styleguide.js') }}"></script>

    <script src="{{ asset('/bundles/victoireui/bower_components/tether/dist/js/tether.js') }}"></script>
    <script src="{{ asset('/bundles/victoireui/bower_components/trowel-forms/src/javascript/forms.js') }}"></script>
    <script src="{{ asset('/bundles/victoireui/bower_components/trowel-drops/dest/javascript/drops.js') }}"></script>
    <script src="{{ asset('/bundles/victoireui/scripts/static-slots.js') }}"></script>
    <script src="{{ asset('/bundles/victoireui/scripts/modals.js') }}"></script>
    <script src="{{ asset('/bundles/victoireui/scripts/initiator.js') }}"></script>
{% endblock foot_script %}
