{% extends 'VictoireCoreBundle::layout.html.twig' %}

{% block container_class %}welcome{% endblock container_class %}
{% block headline %}{% endblock headline %}

{% block head_script %}
{{ parent() }}
{% endblock head_script %}

{% block content %}
<div class="vic-container vic-masthead">
    <h1>{{ 'dashboard.welcome.title'|trans({}, 'victoire')|desc('Welcome aboard !') }}</h1>
    <p class="vic-lead">{{ 'dashboard.welcome.title'|trans({}, 'victoire')|desc('Congratulation, you are ready to rock on !') }}</p>
    <p>
        <a href="{{ path('victoire_core_homepage_new') }}" data-toggle="vic-modal" class="vic-btn vic-btn-outline-inverse vic-btn-lg">
            {{ 'dashboard.welcome.action.homepage.new'|trans({}, 'victoire')|desc('Create the homepage') }}
        </a>
        <a href="{{ path('victoire_core_page_new') }}" data-toggle="vic-modal" class="vic-btn vic-btn-outline-inverse vic-btn-lg">
            {{ 'dashboard.welcome.action.page.new'|trans({}, 'victoire')|desc('Create a new page') }}
        </a>
      <a href="#" class="vic-btn vic-btn-outline-inverse vic-btn-lg">
            {{ 'dashboard.welcome.action.aboutus'|trans({}, 'victoire')|desc('Learn more about Victoire') }}</a>
    </p>
</div>
{% endblock content %}
