{% extends 'VictoireCoreBundle::layout.html.twig' %}

{% trans_default_domain "victoire" %}

{% block container_class %}welcome{% endblock container_class %}
{% block headline %}{% endblock headline %}

{% block head_script %}
{{ parent() }}
{% endblock head_script %}

{% block content %}
<div class="vic-container vic-masthead">
    <h1>{{ 'dashboard.welcome.title'|trans({}, 'victoire') }}</h1>
    <p class="vic-lead">{{ 'dashboard.welcome.baseline'|trans({}, 'victoire') }}</p>
    <p>

        {% if templates|length == 0 %}
        <a href="{{ path('victoire_template_new') }}" data-toggle="vic-modal" class="vic-btn vic-btn-outline-inverse vic-btn-lg">
            {{ 'dashboard.welcome.invite.template.new'|trans({}, 'victoire') }}
        </a>
        {% else %}
        {% if homepage|length < 1 %}
            {% if templates|length > 0 %}
            <a href="{{ path('victoire_core_homepage_new') }}" data-toggle="vic-modal" class="vic-btn vic-btn-outline-inverse vic-btn-lg">
                {{ 'dashboard.welcome.action.homepage.new'|trans({}, 'victoire') }}
            </a>
            {% else %}
            <a href="#" onclick='warn("{{ 'dashboard.welcome.title'|trans({}, 'victoire') }}", 10000)' data-toggle="vic-modal" class="vic-btn vic-btn-outline-inverse vic-btn-lg">
                {{ 'dashboard.welcome.action.homepage.new'|trans({}, 'victoire') }}
            </a>
            {% endif %}
        {% endif %}
        <a href="{{ path('victoire_core_page_new') }}" data-toggle="vic-modal" class="vic-btn vic-btn-outline-inverse vic-btn-lg">
            {{ 'dashboard.welcome.action.page.new'|trans({}, 'victoire') }}
        </a>
        {% endif %}
    </p>
</div>
{% endblock content %}
