{% trans_default_domain "victoire" %}

{% form_theme form 'VictoireFormBundle:Form:fields.html.twig' %}

<div class="col-md-12 vic-mb-2">
    {{ form_start(form) }}
    <div class="row vic-mt-1">
        <div class="col-md-10 col-md-offset-1">
            {{ form_errors(form) }}
        </div>
    </div>
    <div class="row vic-mb-1">
        <div class="col-md-10 col-md-offset-1">
            {{ form_widget(form.link) }}
            {{ form_errors(form.link) }}
        </div>
    </div>
    <div class="row vic-mb-1">
        <div class="col-md-10 col-md-offset-1">
            <div class="vic-float-right">
                <input
                    type="submit"
                    value="{{ 'victoire.redirection.form.submit.label'|trans }}"
                    class="vic-btn vic-btn-default vic-bg-green vic-text-white"
                >
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
