{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_container_classes %}{{ parent() }} vic-view-modal{% endblock modal_container_classes %}

{% block modal_header_title %}
    Liste des <strong>redirections</strong>
{% endblock modal_header_title %}

{% block modal_body_content %}

    {# TODO move style from template #}
    <style xmlns="http://www.w3.org/1999/html">

        .d-none { display: none; }
        .d-block { display: block; }

        .mt-0 { margin-top: 0; }
        .mt-2 { margin-top: 20px; }
        .mb-2 { margin-bottom: 20px; }

        .pt-1 { padding-top: 10px; }
        .pb-1 { padding-bottom: 10px; }

        .text-white { color: white; }

    </style>

    <div id="victoire-blog-modal">
        <div class="pull-left">
            <input type="submit" id="create-redirection" value="Créer une redirection" class="vic-btn vic-btn-default vic-bg-green text-white mb-2">
        </div>
        <br><br><br>
        <ul class="vic-bordered-list d-none mb-2" id="new-redirection-form">
            {{  form_start(newForm) }}
            <li class="list-group-item">
                <div class="row pt-1 pb-1">
                    <div class="col-lg-3 col-lg-offset-1">
                        {{ form_widget(newForm.children.input, {'value' : 'Url de départ'}) }}
                    </div>
                    <div class="col-lg-3 col-lg-offset-1">
                        {{ form_widget(newForm.children.output, {'value' : 'Url de destination'}) }}
                    </div>
                    <div class="col-lg-2 col-lg-offset-2">
                        <div class="pull-right">
                            <button class="vic-btn vic-btn-default vic-bg-green text-white mt-2 mt-0" style="margin-top: 0">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </li>
            {{ form_end(newForm) }}
        </ul>

        {% if redirections %}
        {% if (listForm|default(false)) %}
            {{  form_start(listForm) }}
            <ul class="vic-bordered-list">
                {% for redirection in redirections %}
                    {% set id = redirection.id %}
                    <li class="list-group-item">
                        <div class="row" id="main">
                            <div class="col-md-1 text-center">
                                <a href="{{ path('victoire_redirection_delete', { 'id': redirection.id }) }}" data-toggle="vic-confirm" class="btn-lg btn-secondary btn-transparent text-danger" data-title="{{ 'modal.form.page.settings.action.delete.confirm.title'|trans({}, 'victoire') }}" data-body="{{ 'modal.form.page.settings.action.delete.confirm.body'|trans({}, 'victoire') }}" data-modal="delete">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="{{ redirection.input }}">
                                    {{ redirection.input }}
                                </a>
                            </div>
                            <div class="col-md-1 text-center">
                                <i class="fa fa-long-arrow-right"></i>
                            </div>
                            <div class="col-md-4">
                                <a href="{{ redirection.output }}">
                                    {{ redirection.output }}
                                </a>
                            </div>
                            <div class="col-md-2">
                                Nb de requêtes : <strong style="padding-left: 10px">{{ redirection.count }}</strong>
                            </div>
                            <div class="col-md-1 text-center">
                                <a href="#" class="btn-lg btn-secondary">
                                    <i class="fa fa-plus" id="{{ redirection.id }}"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row d-none pt-1 pb-1" id="redirection_{{ redirection.id }}">
                            <div class="col-lg-3 col-lg-offset-1">
                                {{ form_widget(listForm.children.redirections.children[id].input) }}
                            </div>
                            <div class="col-lg-3 col-lg-offset-1">
                                {{ form_widget(listForm.children.redirections.children[id].output) }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
                {{ form_rest(listForm) }}
            </ul>
            <div class="pull-right">
                <input type="submit" value="Mettre à jour" class="vic-btn vic-btn-default vic-bg-green text-white mt-2">
            </div>
            {{ form_end(listForm) }}
        {% endif %}
        {% else %}
            <div class="vic-alert vic-alert-info">
                <i class="fa fa-info"></i>&nbsp;&nbsp;La liste des redirections est vide
            </div>
        {% endif %}
    </div>

    <script>

        $vic('i.fa-plus').on('click', function () {
            var id = $(this).attr('id');
            var notFound = $vic('#redirection_' + id);
            (notFound.is( ":hidden" ))
                ? notFound.slideDown()
                : notFound.slideUp();
            $(this).toggleClass('fa-plus fa-minus');
        });

        $vic('input#create-redirection').on('click', function () {
            ($vic('#new-redirection-form').is( ":hidden" ))
                ? $vic('#new-redirection-form').slideDown()
                : $vic('#new-redirection-form').slideUp();
        });

    </script>

{% endblock modal_body_content %}

{% block modal_footer_content %}{% endblock modal_footer_content %}