{% set sectionStyle = '' %}
{% if preview is defined and preview|length > 0 %}
    {% for property, value in preview %}
        {% set sectionStyle = sectionStyle ~ ' ' ~ property ~ ': ' ~ value ~ ';'  %}
    {% endfor %}
{% endif %}

<section style="{{ sectionStyle }}">
    <div class="ts-preview">
        {% block snippet_preview %}{% endblock %}
    </div>

    <div class="ts-snippet-tabs">
        {% for lang, snippet in snippets %}
            <a class="ts-snippet-tabs__anchor{% if loop.first %} is-active{% endif %}" onclick="openSnippet(this, '{{ lang }}')">{{ lang }}</a>
        {% endfor %}
    </div>

    <div class="ts-snippet-col">
        {% for lang, snippet in snippets %}
            {% set snippet = snippet|replace({
                '%indent%': '    ',
                '<': '&lt;',
                '>': '&gt;',
                '\'': '"'
            }) %}

            <div class="ts-snippet{% if loop.first %} is-active{% endif %}" data-snippet="{{ lang }}">
                {% spaceless %}
                    <pre class="ts-snippet__pre">
                        <code class="{{ lang }}">
                            {{- snippet|raw -}}
                        </code>
                    </pre>
                {% endspaceless %}

                <button class="ts-snippet__copy tsjs-copy" data-clipboard-text='{{ snippet|raw }}'>copy</button>
            </div>
        {% endfor %}
    </div>
</section>
