{% trans_default_domain "victoire" %}

{% set active = (form.vicActiveTab.vars.data is defined and form.vicActiveTab.vars.data) ? form.vicActiveTab.vars.data : loop.first ? key : false %}
<li class="item{{ key == active ? ' vic-active' }}">
    <a
        href="#vic-widget-layout-{{ key }}"
        role="tab"
        data-toggle="vic-tab"
        data-key="{{ key }}"
        data-title="{{ config.min is defined ? "#{config.min}px" }}{{ config.min is defined and config.max is defined ? " - " }}{{ config.max is defined ? "#{config.max}px" }}"
    >
        {{ ('widget_layout.tab.containerMargin.' ~ key|upper ~ '.label' )|trans({}, 'victoire')|raw }}
    </a>
</li>
