{% trans_default_domain "victoire" %}
{% form_theme form 'VictoireFormBundle:Form:fields.html.twig' %}

{{ form_start(form, {'attr' : {'class' : 'vic-form-active'}}) }}

<div id="vic-stylize">

    <h3 class="vic-h3">
        {{ 'victoire.widget.stylize.global.heading'|trans() }}
    </h3>
    <div class="vic-row">
        <div class="vic-col-sm-6 vic-col-md-4">{{ form_row(form.containerTag) }}</div>
        <div class="vic-col-sm-6 vic-col-md-4">{{ form_row(form.containerClass) }}</div>
        <div class="vic-col-sm-6 vic-col-md-4">{{ form_row(form.theme) }}</div>
        <div class="vic-col-xs-12">{{ form_row(form.deleteBackground) }}</div>
    </div>
    <hr>
    <div class="vic-row">
        <div class="vic-col-md-6">
            {%  include 'VictoireCoreBundle:Widget/Form/stylize:static.html.twig' %}
        </div>
        <div class="vic-col-md-6">
            {%  include 'VictoireCoreBundle:Widget/Form/stylize:responsive.html.twig' %}
        </div>
    </div>

</div>

{{ form_end(form) }}
