{% trans_default_domain "victoire" %}
{% form_theme form 'VictoireFormBundle:Form:fields.html.twig' %}

{{ form_start(form, {'attr' : {'class' : 'vic-form-active'}}) }}
    <div class="v-grid v-grid--large">
        <div class="v-col v-col--large v-col--md-8">
            {%  include 'VictoireCoreBundle:Widget/Form/stylize:responsive.html.twig' %}
        </div>

        <div class="v-col v-col--large v-col--md-4" style="margin-top: 78px;">
            {% if form.theme is defined and form.theme %}
                {{ form_row(form.theme) }}
            {% endif %}

            {{ form_row(form.containerTag) }}
            {{ form_row(form.containerClass) }}
            {{ form_row(attribute(form, 'containerBackground')) }}
        </div>
    </div>
{{ form_end(form) }}
