{% trans_default_domain "victoire" %}

{% set widgetId = form.vars.value.id %}

<div class="v-tabs-nav v-tabs-nav--spread" id="v-style-tab">
    {% include 'VictoireCoreBundle:Widget/Form/stylize:_responsiveTab.html.twig' with {
        'widgetId': widgetId,
    } %}

    {% for key, responsive_config in victoire_twig_responsive %}
        {% include 'VictoireCoreBundle:Widget/Form/stylize:_responsiveTab.html.twig' with {
            'config': responsive_config,
            'widgetId': widgetId,
        } %}
    {% endfor %}
</div>

<div class="vic-tab-content">
    {% set active = (form.vicActiveTab.vars.data is defined and form.vicActiveTab.vars.data) ? form.vicActiveTab.vars.data : loop.first|default(true) ? 'static' : false %}
    <div class="v-collapse" id="vic-widget-layout-{{ widgetId }}-static" data-flag="v-collapse" data-group="vic-widget-layout-{{ widgetId }}"{{ active ? ' data-state="visible"' }}>
        {% include 'VictoireCoreBundle:Widget/Form/stylize:_fields.html.twig' %}
    </div>

    {% for key, responsive_config in victoire_twig_responsive %}
        {% set active = (form.vicActiveTab.vars.data is defined and form.vicActiveTab.vars.data) ? form.vicActiveTab.vars.data : loop.first|default(false) ? key : false %}
        <div class="v-collapse" id="vic-widget-layout-{{ widgetId }}-{{ key }}" data-flag="v-collapse" data-group="vic-widget-layout-{{ widgetId }}"{{ active ? ' data-state="visible"' }}>
            {% include 'VictoireCoreBundle:Widget/Form/stylize:_fields.html.twig' %}
        </div>
    {% endfor %}
</div>
