{% trans_default_domain "victoire" %}

<div class="vic-businessentity-list-header">
    <div class="vic-row">
        <div class="vic-col-sm-6">
            {% spaceless %}
            <h1 class="vic-businessentity-list-heading">
                Liste des représentations de l’objet métier "{{ businessEntity.getName }}"
            </h1>
            {% endspaceless %}
        </div>

        <div class="vic-col-sm-6 vic-text-right">
            {% spaceless %}
            <a class="vic-btn vic-btn-success" data-toggle="vic-modal" href="{{ path('victoire_businessentitypagepattern_businessentitypagepattern_new', {'id': businessEntity.getId}) }}">
                <i class="fa fa-plus-square"></i>

                {{ 'list.action.add'|trans }}
            </a>
            {% endspaceless %}
        </div>
    </div>

</div>

<ul class="vic-bordered-list">
    {% for pagePattern in businessEntityPagePatterns %}
    <li class="item -level0">
        <div class="vic-bordered-line">
            <div class="title">
                {{ pagePattern.getName }}
            </div>

            <a class="vic-btn vic-btn-default -square" data-toggle="vic-modal" href="{{ path('victoire_businessentitypagepattern_businessentitypagepattern_edit', {'id': pagePattern.getId}) }}">
                <i class="fa fa-pencil"></i>
            </a>

            <a class="vic-btn vic-btn-default -square" href="{{ path('victoire_core_page_show', {'url' : pagePattern.getUrl}) }}">
                <i class="fa fa-angle-right"></i>
            </a>

{# 
            <a data-toggle="vic-modal"  href="{{ path('victoire_businessentitypagepattern_businessentitypagepattern_listentities', {'id': pagePattern.getId}) }}">
                <i class="fa fa-list"></i>

                {{ 'list.action.list'|trans }}
            </a>
 #}
        </div>
    </li>
    {% endfor %}
</ul>
