{% trans_default_domain "victoire" %}

<div class="vic-businessentity-list-header">
    <div class="vic-row">
        <div class="vic-col-sm-6">
            {% spaceless %}
            <h1 class="vic-businessentity-list-heading">
                Liste des représentations de l’objet métier "{{ businessEntity.getName }}"
            </h1>
            {% endspaceless %}
        </div>

        <div class="vic-col-sm-6 vic-text-right">
            {% spaceless %}
            <a class="vic-btn vic-btn-success" data-toggle="vic-modal" href="{{ path('victoire_business_template_new', {'id': businessEntity.id}) }}">
                <i class="fa fa-plus-square"></i>

                {{ 'list.action.add'|trans }}
            </a>
            {% endspaceless %}
        </div>
    </div>
</div>

<ul class="vic-bordered-list">
    {% for pagePattern in BusinessTemplates %}
    <li class="item -level0">
        <div class="vic-bordered-line">
            <div class="title">
                {{ pagePattern.name }}
            </div>

            <a class="vic-btn vic-btn-default -square" data-toggle="vic-modal" href="{{ path('victoire_business_template_edit', {'id': pagePattern.id}) }}">
                <i class="fa fa-pencil"></i>
            </a>

            <a class="vic-btn vic-btn-default -square" href="{{ path('victoire_business_template_show', {'id' : pagePattern.id}) }}">
                <i class="fa fa-angle-right"></i>
            </a>

            <a class="vic-btn vic-btn-default -square" href="#" onclick="$vic(this).toggleClass('vic-btn-info');$vic('.fa',this).toggleClass('fa-inverse'); $vic('#business-entities-list-container-{{ pagePattern.id }}').slideToggle();">
                <i class="fa fa-list"></i>
            </a>
        </div>
        <div class="vic-row">
            <div class="vic-col-md-12" style="display: none" id="business-entities-list-container-{{ pagePattern.id }}">
                {{ render(path('victoire_business_template_listentities', {'id': pagePattern.id})) }}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
