<section id="vic-admin-menu" class="victoire vic-menu-main vic-list-unstyled vic-clearfix vic-navbar-fixed-top" role="navigation">

    {% block header %}
    {% block leftMenu %}
    {% if is_granted('ROLE_VICTOIRE_LEFTNAVBAR') %}
    <div class="vic-trigger vic-pull-left">
        <a class="vic-menu-leftnavbar-trigger" id="vic-menu-leftnavbar-trigger">
            <i></i>
        </a>

        <nav class="vic-menu-leftnavbar">
            <div class="vic-scroller">
                {#
                <ul id="vic-menu" class="vic-menu-main vic-list-unstyled vic-clearfix"></ul>
                #}
                {{ knp_menu_render('leftnavbar') }}
            </div>
        </nav>
    </div>
    {% endif %}
    {% endblock %}

    {% block brand %}
    <div class="vic-topNavbar-logo vic-loading">
        <a href="#">
            <img class="vic-picto" src="{{ asset('bundles/victoirecore/images/menu/vic-logo-menu-main-picto.png') }}" alt="Logo Victoire DCMS" />
            <img src="{{ asset('bundles/victoirecore/images/menu/vic-logo-menu-main-label.png') }}" alt="Logo Victoire DCMS" />
        </a>
    </div>
    {% endblock %}
    {% endblock %}

    {% block menu_container %}

    <div class="vic-collapse vic-navbar-collapse vic-navbar-responsive-collapse">
            {% block menu %}
                {{ knp_menu_render('topnavbar') }}
            {% endblock %}

        <ul class="vic-userNav vic-menu-main-list" id="vic-topNavbar-right">
            {# Add a publication representation of the view (only for BasePage))  #}

            {% if view is defined and (view.published is defined and not view.published) %}
            <li class="vic-text-center">
                {% if view.status == view.statusScheduled %}
                    {% set icon = "clock-o" %}
                    {% set tooltip = "victoire.menu.publication.scheduled.tooltip"|trans({'%publication_date%': view.publishedAt|localizeddate('medium', 'none', null, null, "cccc dd/MM/yyyy à hh'h'mm") }, 'victoire') %}
                {% elseif view.status == view.statusDraft %}
                    {% set icon = "pencil" %}
                {% elseif view.status == view.statusUnpublished %}
                    {% set icon = "moon-o" %}
                {% endif %}
                <a href="{{ path('victoire_core_page_settings', {'id' : view.id}) }}" data-toggle="vic-modal"{% if tooltip is defined %}title="{{ tooltip }}"{% endif %} style="font-size:10px;margin-top:5px;">
                {# todo use vic tooltips #}
                {# todo kick style inline #}
                {# todo add unpublished and draft tooltip #}

                    <i class="fa fa-{{ icon }} fa-2x"></i>
                </a>
            </li>
            {% endif %}

            {#
            <li>
                <input class="vic-switcher vic-switcher-stat" type="checkbox" id="vic-switcher-statMode">
                <label for="vic-switcher-statMode">Statistiques</label>
            </li>
            #}

            <li>
                <input class="vic-switcher vic-switcher-edit vic-navBar-switcher" type="checkbox" id="vic-switcher-editMode" {{ edit_mode ? 'checked="checked"' : ''}}>
                <label for="vic-switcher-editMode">Édition</label>
            </li>

            <li class="vic-menu-main-list-lastItem">
                <div class="vic-dropdown">
                    <a class="vic-dropdown-toggle" id="dropdownMenu1" data-toggle="vic-dropdown">
                        <img src="http://www.gravatar.com/avatar/{{ app.user.email|hash }}?s=70&d={{ 'https://fr.gravatar.com/userimage/63937294/1d5eaaa346a27c5915344db44177b469.png?size=70'|url_encode }}" class="vic-img-circle" alt="avatar" height="36">

                        <span class="vic-caret"></span>
                    </a>

                    <ul class="vic-dropdown-menu vic-pull-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{ path('_logout') }}" class="vic-pull-left">Se déconnecter</i></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    {% endblock %}
</section>
