{% trans_default_domain "victoire" %}

<div class="vic-container">
    <div  style='margin-bottom: 15px;'>
        <a data-toggle="vic-modal" href="{{ path('victoire_businessentitytemplate_businessentitytemplate_new', {'id': businessEntity.getId}) }}">
            <i class="fa fa-plus-square">{{ 'list.action.add'|trans }}</i>
	    </a>
    </div>
    {%  for template in businessEntitiesTemplates %}
    <div>
        <a data-toggle="vic-modal"  href="{{ path('victoire_businessentitytemplate_businessentitytemplate_edit', {'id': template.getId}) }}">
	        <i class="fa fa-pencil-square-o">{{ 'list.action.edit'|trans }}</i>
	    </a>
	    <span style='margin-left: 15px'>
            <a href="/{{ template.getTemplateUrl }}">
                {{ template.getName }}
    	    </a>
	    </span>
    </div>
    {% endfor %}
</div>
