{% trans_default_domain "victoire" %}

{% extends 'VictoireCoreBundle::layout.html.twig' %}

{% block content %}
<div class="vic-container vic-masthead">
    <div>
        <h2>
            {{ 'list.title.businessEntity'|trans }} : {{ businessEntity.getName }}
        </h2>
    </div>
    <h2>{{ 'list.title.templates'|trans }}</h2>
    <div>

        <a href="{{ path('victoire_businessentitytemplate_businessentitytemplate_new', {'id': businessEntity.getId}) }}">
            {{ 'list.action.add'|trans }}
	    </a>
    </div>
    {%  for template in templates %}
    <div>
        <a href="/{{ template.getPageUrl }}">
	        {{ template.getName }}
	    </a>
	    <a href="{{ path('victoire_businessentitytemplate_businessentitytemplate_edit', {'id': template.getId}) }}">
	        EDIT
	    </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}
