{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% form_theme form 'VictoireFormBundle:Form:fields.html.twig' %}

{% block modal_container_classes %}{{ parent() }} vic-page-modal{% endblock modal_container_classes %}

{% block modal_body_content %}

<div class="vic-tab-content vic-modal-tab-content">
    <div class="vic-tab-pane vic-active" id="basics">
        <div class='businessProperties'>
            <div class='businessPropertyTitle'>
                {{ 'modal.form.pageSeo.settings.businessProperties'|trans }}
            </div>
            {% for businessProperty in businessProperties %}
                <div class='businessProperty'>
                    <a onClick='seo.addPropertyToCurrentInput("{{ businessProperty.entityProperty }}")'>{{ businessProperty.entityProperty }}</a>
                </div>
            {% endfor %}
        </div>
        {{form_start(form)}}
            {{form_widget(form)}}
        {{form_end(form)}}
    </div>
</div>

<script type="text/javascript">
    //init the event handler for the business entity property
    seo.initPropertyHelper();
</script>

{% endblock modal_body_content %}

{% block modal_header_title %}
    {{ 'modal.form.pageSeo.settings.title'|trans({'page.title' : page.title}, 'victoire')|desc('%page.title% > Settings') }}
{% endblock modal_header_title %}

{% block modal_footer %}
    <div class="vic-modal-footer">
        <div class="vic-container">
        {% block modal_footer_content %}
            <span class="vic-pull-left"><sup>*</sup>{{ 'modal.mandatory_fields.label'|trans({}, 'victoire')|desc('Mandatory fields') }}</span>

            <a href="#" data-modal="{% block action %}update{% endblock action %}" title="{{ 'modal.button.'~ block('action') ~'.title'|trans({}, 'victoire') }}"></a>
        {% endblock modal_footer_content %}
        </div>
    </div>
{% endblock modal_footer %}


