<h1>{{ entity.name }}</h1>
<p>{{ 'acme.app.jedi.index.th.Midichlorians'|trans({}, 'victoire') }}: {{ entity.midiChlorians }}</p>
<p>{{ 'acme.app.jedi.index.th.Side'|trans({}, 'victoire') }}: {{ entity.side }}</p>