<div id="vic-blog-item-header">
    <div class="vic-row">
        {% if chooseBlogForm is defined %}
            {% form_theme chooseBlogForm 'VictoireFormBundle:Form:fields.html.twig' %}
            <div class="vic-col-sm-3">
                {{ form_start(chooseBlogForm, {'attr' : {'id' : 'victoire_blog_choose_form'}, 'action' : path('victoire_blog_index')}) }}
                {{ form_end(chooseBlogForm) }}
            </div>
        {% endif %}

        {% set addBlogButton %}
        <a href="{{ path('victoire_blog_new') }}" id="vic-blog-newBlogBtn" class="vic-btn vic-btn-default" data-toggle="vic-modal" title="{{ ('modal.blog.button.new.title')|trans({}, 'victoire') }}">
            {{ ('modal.blog.button.new.label')|trans({}, 'victoire') }}
        </a>
        {% endset %}
        {% if blog %}
        <div class="vic-col-sm-9 vic-text-right">
            {{ addBlogButton|raw }}
        </div>
        {% else %}
        <div class="vic-col-sm-12 vic-text-center">

            <div class="vic-alert vic-alert-info" role="alert">
                {{ 'victoire_blog.noresult'|trans({}, 'victoire') }}
            </div>
            {{ addBlogButton|raw }}
        </div>
        {% endif%}
    </div>
</div>

<script type="text/javascript">
    $vic('#choose_blog_locale').on('change', function () {

        var form = $(this).parents('form');
        var formdata = (window.FormData) ? new FormData(form[0]) : null;
        var data = (formdata !== null) ? formdata : form.serialize();
        $.ajax({
            url         : form.attr('action') + (form.attr('action').split('?')[1] ? '&' : '?') + 'novalidate',
            data        : data,
            type        : $(form).attr('method'),
            contentType : false,
            dataType    : 'json',
            processData : false,
        }).done(function(response){
            console.log($vic(response.html).find('#vic-modal'));
            $('#vic-modal').html($vic($vic(response.html)).find('.vic-modal-dialog'));
        }).fail(function(response) {
            console.log(response);
        });
    })
    $vic('#choose_blog_blog').on('change', function(){
        $('#victoire_blog_choose_form').on('submit', function(event) {
            event.preventDefault();
            var form = $vic(this);
            var formData = $vic(form).serializeArray();
            formData = $vic.param(formData);

            if ($vic(form).attr('enctype') == 'multipart/form-data') {
                formData = new FormData($vic(form)[0]);
                var contentType = false;
            }

            $vic.ajax({
                url         : $vic(form).attr('action'),
                context     : document.body,
                data        : formData,
                type        : $vic(form).attr('method'),
                contentType : 'application/x-www-form-urlencoded; charset=UTF-8',
                processData : false,
                async       : true,
                cache       : false,
                success     : function(jsonResponse) {
                    $('#vic-modal').html($vic($vic(jsonResponse.html)).find('.vic-modal-dialog'));
                }
            });
        }).submit();
    });
</script>

{% if blog %}
    {% include 'VictoireBlogBundle:Blog:Tabs/nav.html.twig' %}
    {% include 'VictoireBlogBundle:Blog:Tabs/content.html.twig' %}
{% endif %}
