<?xml version="1.0" ?>
<rss version="2.0">
    <channel>
        <title>{{ blog.name }}</title>
        <link>{{ url('victoire_core_page_show', {'url': blog.url}) }}</link>
        <description>{{ blog.seo|default({'description' : ''}).description }}</description>

        {% if blog.seo and blog.seo.ogImage %}
        <image>
            <url>{{ blog.seo.ogImage.url }}</url>
            <link>{{ url('victoire_core_page_show', {'url': blog.url}) }}</link>
        </image>
        {% endif %}

        {% for article in blog.articles %}<item>
            <title>{{ article.name }}</title>
            <link>{{ vic_business_link(article, null, constant('\\Symfony\\Component\\Routing\\Generator\\UrlGeneratorInterface::ABSOLUTE_URL')) }}</link>
            <description>{{ article.description }}</description>
        </item>
        {% endfor %}

    </channel>
</rss>