{% extends 'VictoirePageBundle:Page:settings.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_body_content %}

<div class="vic-tab-content vic-modal-tab-content">
    {# Only display this business entity property list when related to a business entity #}
    {% if page.businessEntity is defined %}
        {% include 'VictoireBusinessEntityBundle:BusinessProperty:list.html.twig' with { 'businessProperties': businessProperties } %}
    {% endif %}

    <div class="vic-tab-pane vic-active" id="basics">
        <form method="POST" action="{{path('victoire_blog_settings', {'id':page.id} )}}">
            <div class="vic-form-group">
                <div class="vic-col-lg-8">
                    {{ form_row(form.name) }}
                    {{ form_row(form.parent) }}
                    {{ form_row(form.template) }}
                    <div class="vic-form-group">
                         <label for="victoire_blog_settings_type_bodyClass" class="vic-control-label vic-col-lg-3 control-label vic-optional">
                            {{ 'form.page.type.slug.label'|trans({}, 'victoire') }}
                         </label>
                         <div class="vic-col-lg-9">
                             <table style="width: 100%;">
                                 <tr>
                                     <td>
                                        {{ url('victoire_core_page_show', {'url' : page.url })|replace({(page.slug): ''}) }}
                                     </td>
                                     <td style="width: 100%;">
                                        {{ form_widget(form.slug) }}
                                     </td>
                                 </tr>
                             </table>
                        </div>
                    </div>
                </div>
                <div class="vic-col-lg-4">
                    {{ form_row(form.status) }}
                    <div class="vic-form-group">
                        <div class="publication-date-container{{ form.vars.value.status != constant('Victoire\\Bundle\\PageBundle\\Entity\\PageStatus::SCHEDULED') ? ' vic-hidden' }}">
                            {{ form_widget(form.publishedAt) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
</div>

<script type="text/javascript">
    $vic('#victoire_blog_settings_type_status').on('change', function(){
        if ($vic(this).val() == '{{ constant('Victoire\\Bundle\\PageBundle\\Entity\\PageStatus::SCHEDULED') }}') {
            $vic('.publication-date-container').removeClass('vic-hidden');
        } else {
            $vic('.publication-date-container').addClass('vic-hidden');
        }
    });
</script>

{% javascripts
    '@VictoireFormBundle/Resources/public/js/datetimepicker-init.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock modal_body_content %}

{% block modal_header_title %}
    {{ 'modal.form.blog.settings.title'|trans({'%blogName%' : page.name}, 'victoire')|raw }}
{% endblock modal_header_title %}
