{% extends 'VictoirePageBundle:Page:settings.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_body_content %}

<div class="vic-tab-content vic-modal-tab-content">
    {# Only display this business entity property list when related to a business entity #}
    {% if page.businessEntity is defined %}
        {% include 'VictoireBusinessEntityBundle:BusinessProperty:list.html.twig' with { 'businessProperties': businessProperties } %}
    {% endif %}

    <div class="vic-tab-pane vic-active" id="basics">
        <form method="POST" action="{{path('victoire_blog_translate', {'id':page.id} )}}">
            <div class="vic-form-group">
                <div class="vic-col-lg-8">
                    {{ form_row(form.name) }}
                    {{ form_row(form.locale)}}
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
</div>


{% endblock modal_body_content %}

{% block modal_header_title %}
    {{ 'modal.form.blog.translate.title'|trans({'%blogName%' : page.name}, 'victoire')|raw }}
{% endblock modal_header_title %}
