{% trans_default_domain "victoire" %}
<div class="vic-undraggable vic-new-widget vic-new-widget-disabled{{ position == 0 ? " vic-first" : "" }}">
    <label href="#" class="text-center">
        <select role="menu" aria-labelledby="dLabel">
            <option disabled selected></option>
            {{ _self.widgetList(widgets, slot, view, position) }}
        </select>
        <span>{{ "widget.dropdown.action.label"|trans({}, "victoire")}}</span>
    </label>
</div>

{% macro widgetList(widgets, slot, view, position, depth = 0) %}
    {% if widgets|length > 0 %}
        {% for name, widget in widgets %}
            {% if widget.params is defined %}
                {% if widget.children is defined and widget.children|length > 0 %}
                        <option value="{{ name }}">
                            {% for i in 0..(depth*4) %}&nbsp;{% endfor %}{{ ("widget."~name|lower~".new.action.label")|trans({}, 'victoire') }}
                        </option>
                        {{ _self.widgetList(widget.children, slot, view, position, depth+1) }}
                {% else %}
                    <option value="{{ name }}">
                        {% for i in 0..(depth*4) %}&nbsp;{% endfor %}{{ ("widget."~name|lower~".new.action.label")|trans({}, 'victoire') }}
                    </option>
                {% endif %}
            {% else %}
                <optgroup label="{{ ("widget."~name|lower~".new.action.label")|trans({}, 'victoire') }}">
                    {% if widget.children is defined and widget.children|length > 0 %}
                        {{ _self.widgetList(widget.children, slot, view, position, depth+1) }}
                    {% endif %}
                </optgroup>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

<script type="text/javascript">
//responsible to hide and organize thanks to js the buttons.
//> This is not a wonderful way but for now, it does the job
    $vic(document).ready(function() {
        updateSlotActions{{ slot }}();
    });
    $vic(document).ajaxComplete(function() {
        updateSlotActions{{ slot }}();
    });

    {# This function is called in widget.js file after deleting a content in order to display a potential hidden button #}
    function updateSlotActions{{ slot }}() {
        updateSlotActions("{{ slot }}"{% if max is not null %}, {{max}}{% endif %});
    }

</script>
