{% trans_default_domain "victoire" %}

<div class="vic-dropdown vic-undraggable vic-new-widget vic-new-widget-disabled{{ first ? " vic-first" : "" }}">
    <a data-toggle="vic-dropdown" href="#" class="text-center">
        <span>
            {{ "widget.dropdown.action.label"|trans({}, "victoire")|desc("New widget")}}
        </span>
    </a>
    {{ _self.widgetList(widgets, slot, view) }}
</div>

{% macro widgetList(widgets, slot, view, depth = 0) %}
    {% if widgets|length > 0 %}
    <ul class="{% if depth == 0 %}vic-dropdown-menu{% endif %} vic-dropdown-newWidget vic-newWidget-{{depth}}" role="menu" aria-labelledby="dLabel">
        {% for name, widget in widgets %}
        <li>
        {% if widget.params is defined %}
            <a href="{{ path('victoire_core_widget_new', {'view':view.id,'type':name, 'slot':slot} )}}">
        {% else %}
            <a class="disabled" href="#">
        {% endif %}

                {{ ("widget."~name|lower~".new.action.label")|trans({}, 'victoire') }}
            </a>
            {% if widget.children is defined and widget.children|length > 0%}
            {{ _self.widgetList(widget.children, slot, view, depth+1) }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endmacro %}

<script type="text/javascript">
//responsible to hide and organize thanks to js the buttons.
//> This is not a wonderful way but for now, it does the job
    $(document).ready(function() {
        updateSlotActions{{ slot }}();
    });
    $(document).ajaxComplete(function() {
        updateSlotActions{{ slot }}();
    });

    /**
     * This function is called in widget.js file after deleting a content in order to display a potential hidden button
     */
    function updateSlotActions{{ slot }}() {
        updateSlotActions("{{ slot }}"{% if max is not null %}, {{max}}{% endif %});
    }

</script>
