{% form_theme form 'VictoireFormBundle:Form:fields.html.twig' %}
{% block form_container %}

<form name="widget" action={% spaceless %}
{% block modal_body_form_action %}
{{ path('victoire_core_widget_create', {'page': page.id,'slot':slot, 'type': widget.type, 'entity': entity} ) }}
{% endblock modal_body_form_action %}
{% endspaceless %} method="POST" class="vic-form-horizontal">

{% block body %}
{% block form %}

<div class="vic-tab-content vic-modal-tab-content">
    {% if entity != null %}
      <ul id="{{form.items.vars.attr.id}}-listing"></ul>
        <div id="picker-{{entity}}" class="vic-tab-pane vic-active">

            {% block form_picker %}
                {{ form_widget(form.items.vars.prototype.entity)|raw }}
                {{form_widget(form.items)}}
            {% endblock form_picker %}
        </div>
        <div id="query-{{entity}}" class="vic-tab-pane">

        {% block form_query %}
            {{form_row(form.query)}}
        {% endblock form_query %}
        </div>
    {% else %}
        {% if form.items is defined %}
        <ul class="items" data-prototype="{{ form_widget(form.items.vars.prototype)|e }}">
            {{form_row(form.items)}}
        </ul>

        {% endif %}
    {% endif %}
    {{form_rest(form)}}
</div>

{% endblock form %}
{% endblock body %}
</form>
{% endblock form_container %}

