{% form_theme form 'VictoireFormBundle:Form:fields.html.twig' %}

{% trans_default_domain "victoire" %}

{% block form_container %}
    {% block body %}
        {# @todo We should display a message to warn admin that this widget is owned by a top template, we do not have the currentView so we are not able to do this for now
        {% if currentView != widget.view %}
        <div class="vic-alert vic-alert-warning vic-alert-dismissible">
            {{ 'victoire.widget.inherited.notice'|trans({'templateName': widget.view.template.name}, 'victoire') }}
        </div>
        {% endif %}
        #}
        {% block form %}
            {% if entity != null %}
                <div id="picker-{{entity}}-{{ form.mode.vars.data }}" class="vic-tab-pane {% if form.mode.vars.data == 'entity' %}vic-active{% endif %}">
                    {{ form_start(form) }}
                        {{form_rest(form)}}
                    {{ form_end(form) }}
                </div>
            {% else %}
                {% block form_static %}
                    <div id="picker-{{ form.mode.vars.data }}" class="vic-tab-pane vic-active">
                        {{ form_start(form) }}
                            {{form_rest(form)}}
                        {{ form_end(form) }}
                    </div>
                {% endblock form_static %}
            {% endif %}
        {% endblock form %}
    {% endblock body %}
{% endblock form_container %}
