{% form_theme form 'VictoireFormBundle:Form:fields.html.twig' %}

{% trans_default_domain "victoire" %}

{% block form_container %}
    {% block body %}
        {% block form %}
            {% if entity != null %}
                <div id="picker{% if entity %}-{{ entity }}{% endif %}-{{ quantum }}-{{ form.mode.vars.data }}" class="entity vic-tab-pane {% if form.mode.vars.data == widget.mode %}vic-active{% endif %}">
                    {% block form_entity %}
                        {{ form_start(form) }}
                        {{ form_end(form) }}
                    {% endblock form_entity %}
                </div>
            {% else %}
                {% block form_static %}
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                {% endblock form_static %}
            {% endif %}
        {% endblock form %}
        {{ block('scripts') }}
    {% endblock body %}
{% endblock form_container %}
