{% form_theme form 'VictoireFormBundle:Form:fields.html.twig' %}

{% trans_default_domain "victoire" %}

{% block form_container %}
    {% block body %}
        {% if widget.id and widget.currentView != widget.view %}
        <div class="vic-alert vic-alert-warning vic-alert-dismissible">
            {{ 'victoire.widget.inherited.notice'|trans({'%templateName%': widget.view.name, '%templateEditLink%': path('victoire_core_widget_edit', {'id': widget.id, 'view_id': widget.view.id })}, 'victoire')|raw }}
        </div>
        {% endif %}

        {% block form %}
            {% if entity != null %}
                <div id="picker-{{entity}}-{{ form.mode.vars.data }}" class="vic-tab-pane {% if form.mode.vars.data == 'entity' %}vic-active{% endif %}">
                    {{ form_start(form) }}
                        {{form_rest(form)}}
                    {{ form_end(form) }}
                </div>
            {% else %}
                {% block form_static %}
                    <div id="picker-{{ form.mode.vars.data }}" class="vic-tab-pane vic-active">
                        {{ form_start(form) }}
                            {{form_rest(form)}}
                        {{ form_end(form) }}
                    </div>
                {% endblock form_static %}
            {% endif %}
        {% endblock form %}
    {% endblock body %}
{% endblock form_container %}
