{% form_theme form 'VictoireFormBundle:Form:fields.html.twig' %}
{% trans_default_domain "victoire" %}

{% block form_container %}
    {% block body %}
        {% if block('info') is defined %}
            {{ block('info') }}
        {% endif %}
        {% block form %}
            {% if entity != null %}
                {% set isVisible = (form.mode.vars.data == widget.mode) or (form.mode.vars.data == constant('MODE_ENTITY', widget) and widget.mode == constant('MODE_STATIC', widget)) %}

                {% block entity_collapse %}
                    <div
                        id="picker{% if entity|lower %}-{{ entity|lower }}{% endif %}-{{ quantum }}-{{ form.mode.vars.data }}"
                        class="v-collapse"
                        data-flag="v-collapse"
                        data-group="picker{% if entity %}-{{ entity }}{% endif %}-{{ quantum }}"
                        {% if isVisible %}data-state="visible"{% endif %}
                    >
                        {% block form_entity_wrapper %}
                            {% block form_entity_start %}{{ form_start(form) }}{% endblock %}
                                {{ block('form_base') }}
                                {% block form_entity %}{% endblock %}
                            {% block form_entity_end %}{{ form_end(form) }}{% endblock %}
                        {% endblock form_entity_wrapper %}
                    </div>
                {% endblock entity_collapse %}
            {% else %}
                {% block form_static_wrapper %}
                    {% block form_static_start %}{{ form_start(form) }}{% endblock %}
                        {{ block('form_base') }}

                        {% block form_static %}{% endblock %}
                    {% block form_static_end %}{{ form_end(form) }}{% endblock %}
                {% endblock form_static_wrapper %}
            {% endif %}
        {% endblock form %}

        {% if block('scripts') is defined %}
            {{ block('scripts') }}
        {% endif %}
    {% endblock body %}
{% endblock form_container %}

{% block form_base %}

    {% if block('form_base_start') is defined %}
        {{ block('form_base_start') }}
    {% endif %}

    {% block form_base_criterias %}{{ form_row(form.criterias) }}{% endblock %}

    {% if block('form_base_end') is defined %}
        {{ block('form_base_end') }}
    {% endif %}
{% endblock %}
