{% form_theme form 'VictoireFormBundle:Form:fields.html.twig' %}

{% trans_default_domain "victoire" %}

{% block form_container %}
    {% block body %}
        {{ block('info') }}

        {% block form %}
            {% if entity != null %}
                {% set isVisible = (form.mode.vars.data == widget.mode) or (form.mode.vars.data == 'entity' and widget.mode == 'static') %}

                <div
                    id="picker{% if entity %}-{{ entity }}{% endif %}-{{ quantum }}-{{ form.mode.vars.data }}"
                    class="v-collapse{% if form.mode.vars.data == widget.mode %} hello-world{% endif %}"
                    data-flag="v-collapse"
                    data-group="picker{% if entity %}-{{ entity }}{% endif %}-{{ quantum }}"
                    {% if isVisible %}data-state="visible"{% endif %}
                >
                    {% block form_entity %}
                        {{ form_start(form) }}
                        {{ form_end(form) }}
                    {% endblock form_entity %}
                </div>
            {% else %}
                {% block form_static %}
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                {% endblock form_static %}
            {% endif %}
        {% endblock form %}

        {{ block('scripts') }}
    {% endblock body %}
{% endblock form_container %}
