{% block body %}

<div {{cms_widget_title(widget)}} class="vic-widget {{cms_widget_extra_css_class(widget)}} {{cms_widget_legacy(widget, page)}}" id="widget-{{widget.id}}">
{% block actions %}{{cms_widget_actions(widget)}}{% endblock actions %}

{% block content %}
THE WIDGET MUST OVERRIDE THE CONTENT BLOCK
{% endblock content %}
</div>

{% endblock body %}
