{% trans_default_domain "victoire" %}

{% if widget != null %}
<div {{cms_widget_title(widget)}} class="vic-widget {{cms_widget_extra_css_class(widget)}}" id="widget-{{widget.id}}">
    {{cms_widget_actions(widget)}}
{% else %}
<div class="vic-widget vic-alert vic-alert-danger">
{% endif %}
    {{ error|raw }}
</div>
