{% trans_default_domain "victoire" %}

{% block body %}
    <{{ containerTag }} class="vic-widget {{ cms_widget_extra_css_class(widget) }} {{ containerClass }}" id="widget-{{ widget.id }}">

        <a class="vic-anchor" id="vic-widget-{{ widget.id }}-container-anchor"></a>
        <a href="#" class="vic-hover-widget"><i></i></a>

        {% block content %}
            {{ content|raw }}
        {% endblock content %}
    </{{ containerTag }}>
{% endblock body %}
